In [1]:
## 라이브러리 로드

import pandas as pd

33

In [2]:
## 1차원 데이터 형이 Series를 생성

pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [3]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'] # index 값을 지정할 때는 value와 index의 구조(개수)를 같게 만들어야 한다
)

print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [7]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수를 가진다
    # values, index

print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [10]:
pd_series.index = ['대입1', '대입2', '대입3', '대입4'] # index가 지정되지 않았던 Series에 index 값 지정 (변수에 데이터 지정)

In [11]:
pd_series # 확인

대입1    5000
대입2    6000
대입3    6500
대입4    6500
dtype: int64

In [12]:
values = [
    [1, 2, 6],
    [3, 4, 1],
    [6, 8, 3]
]

df = pd.DataFrame(values)

In [13]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [14]:
## 데이터프레임에는 적어도 3개의 변수가 존재
    ## values, index, columns

print('데이터 프레임의 values = ', df.values)
print('데이터 프레임의 index = ', df.index)
print('데이터 프레임의 columns = ', df.columns)

데이터 프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터 프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터 프레임의 columns =  RangeIndex(start=0, stop=3, step=1)

In [15]:
# column의 이름을 변경

df.columns = ['A', 'B', 'C']

In [16]:
df

   A  B  C
0  1  2  6
1  3  4  1
2  6  8  3

In [28]:
# column의 특정 원소를 변경

'''df.columns[1] = 'F' '''
    # error, Index does not support mutable operations
    # 다른 방법을 사용해봐야겠다

# colum의 특정 원소를 변경시 rename()
    # rename()의 매개변수들
        # index : 딕셔너리 형태 인자값을 사용 {기준이 되는 index 값 : 변경할 index의 값}
        # columns : 딕셔너리 형태 인자값을 사용 {기준이 되는 column 값 : 변경할 column의 값}
df.rename(index = {2 : 5},
          columns= {'B' : 'F'}) # 바로 출력됨 == 변경된 값이 대입되지 않음 -> df에 다시 저장

        # inplace : bool형 인자값을 사용 (default == False : 데이터를 변경하지 않는다., True : 데이터를 변경한다)
            # df를 변경한다는 의미

df.rename(index = {2 : 5,
                   1 : 3},
          columns = {'B' : 'F',
                     'A' : 'Q'},
          inplace = True) # 변경된 값을 바로 대입함

# 주의할 점

'''df = df.rename(index = {2 : 5},
          columns= {'B' : 'F'},
          inplace= True)라고 사용하면 안됨 ! 
          바꾸는 과정이 df에 들어갔고, 바꾼 결과는 따로 데이터가 출력되지 않았는데
          그 결과가 df에 다시 담기게 돼서 df의 데이터가 None으로 나오게 됨'''

"df = df.rename(index = {2 : 5},\n          columns= {'B' : 'F'},\n          inplace= True)라고 사용하면 안됨 ! "

In [29]:
df

   Q  F  C
0  1  2  6
3  3  4  1
5  6  8  3

#### 외부의 데이터 파일을 로드

- csv, tsv
    - read_csv(파일의 경로)

- json
    - read_json(파일의 경로)

- excel (xls, xlsx)
    - read_excel(파일의 경로)
    - 추가로 라이브러리(readxl)를 설치해야 하는 상황이 존재 (excel 파일의 버전 때문)

- xml
    - read_xml(파일의 경로)

- html
    - read_html(html로 이루어진 문자형 데이터|파일)
    - 웹 구조 중 table로 이루어진 태그를 DataFrame으로 변경

- 공통으로 사용하는 매개변수
    - encoding 
        - 데이터 중 한글이 존재할 떄 encoding error가 발생할 수 있다.
        - 기본 encoding은 UTF-8로 되어있다.
            - 이를 'CP949' | 'EUC-KR'로 변경하면 정상 작동할 것

In [34]:
## 외부의 csv 파일을 로드

    ## 절대경로를 통해 파일 로드 (환경이 변할 때 파일의 위치를 찾지 못할 경우가 생긴다.)

corona = pd.read_csv(r'C:\Users\USER\Documents\GitHub\test_1\csv\corona.csv') # 앞에 r을 붙여주면 뒤의 내용들을 경로로 인식하게 해줌 (그냥 돌리면 \ 때문에 error)

    ## 상대경로를 통해 파일 로드
        # 상위로 이동(../) -> 상위로 이동(../) -> csv 폴더로 이동(csv/) -> corona.scv

corona2 = pd.read_csv('../../csv/corona.csv')

In [38]:
## 데이터가 한글인 경우

# df = pd.read_csv('../../csv/주민등록.csv') # UnicodeDecodeError  == 파일 안의 내용이 한글이고 encoding이 UTF-8로 되어 있기 때문에 발생

df = pd.read_csv('../../csv/주민등록.csv', encoding = 'CP949') # encoding을 'CP949' | 'EUC-KR'로 변경하면 정상 작동

In [39]:
df

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25

In [40]:
df.head()

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25

In [43]:
## 엑셀 파일을 로드
## 추가적인 라이브러리 설치가 필요한 경우도 존재

    ## 엑셀 로드시 에러 발생시

!pip install openpyxl


pd.read_excel('../../csv/2020/202001_expense_list.xlsx') # cnt + space 누르면 해당 폴더 안에 존재하는 파일들 보여줌 # ModuleNotFoundError: No module named 'openpyxl' openpyxl 모듈이 없어서 에러

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------ --------------------------------- 41.0/250.0 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,21789676,2020년 1월 사업소 서울식물원 시설운영과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21789676,사업소,서울식물원,시설운영과,NaN,NaN,2020,1,NaN,NaN,NaN,푸른도시국 서울식물원 시설운영과,2020-01-22 10:25,코코호도마곡나루역점(강서구 마곡중앙5로 6),부서 전출직원 간담회 비용,이형선 외 3인,카드,30000
1,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-29 08:55,"㈜한국문화진흥(강남구 강남대로 636, 두원빌딩2층)",2020년도 1월 생일자 격려상품 구매,1월 직원 생일자 12명,카드,216720
2,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-28 12:05,스시사도(영등포구 여의대방로23길 20),2020년 상반기 학교아리수 음수대 감면 간담회 경비지급,"박영준,이상봉,이재욱,이대영,김춘근,김근태,박화준,박병국,조승용,전윤수",카드,124000
3,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 11:59,올갱이나라(영등포구 대방천로 234),2020년 설연휴기간 급수대책 및 수질관리 간담회 경비지급,"김지형,신민철,서영식,최신,이혜숙,여종순",카드,48000
4,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 14:45,두드림유통(동작구 보라매로19길 8),2020년 민원실 직원 격려 물품구매 경비지급,해당사항없음,카드,63310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5277,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 19:57,곰국시집(중구 무교로 24),박물관도시 서울 추진회의 결과 검토 간담회,시민소통기획관 외 3명,제로페이,60000
5278,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 13:04,세림(중구 을지로),시정 협력 관련 유관기관 업무협의 간담회,대외협력보좌관 외 2명,카드,51000
5279,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 12:20,더미시청점(중구 남대문로9길),제로페이 추진경과 검토 간담회,시민소통담당관 외 3명,제로페이,40000
5280,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 22:20,통인스윗팩토리(종로구 필운대로),시정 운영 관련 유관기관 업무협의 간담회,정무비서관 외 2명,카드,51000
5281,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 21:05,(주)에프아이티시스템(종로구 누하동),시정 소통협력을 위한 유관기관 의견수렴 간담회,정무수석 외 6명,카드,162000