In [248]:
## 라이브러리 로드

import pandas as pd

In [249]:
## 1차원 데이터 형이 Series를 생성

pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [250]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [251]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'] # index 값을 지정할 때는 value와 index의 구조(개수)를 같게 만들어야 한다
)

print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [252]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수를 가진다
    # values, index

print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [253]:
pd_series.index = ['대입1', '대입2', '대입3', '대입4'] # index가 지정되지 않았던 Series에 index 값 지정 (변수에 데이터 지정)

In [254]:
pd_series # 확인

대입1    5000
대입2    6000
대입3    6500
대입4    6500
dtype: int64

In [255]:
values = [
    [1, 2, 6],
    [3, 4, 1],
    [6, 8, 3]
]

df = pd.DataFrame(values)

In [256]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [257]:
## 데이터프레임에는 적어도 3개의 변수가 존재
    ## values, index, columns

print('데이터 프레임의 values = ', df.values)
print('데이터 프레임의 index = ', df.index)
print('데이터 프레임의 columns = ', df.columns)

데이터 프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터 프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터 프레임의 columns =  RangeIndex(start=0, stop=3, step=1)

In [258]:
# column의 이름을 변경

df.columns = ['A', 'B', 'C']

In [259]:
df

   A  B  C
0  1  2  6
1  3  4  1
2  6  8  3

In [260]:
# column의 특정 원소를 변경

'''df.columns[1] = 'F' '''
    # error, Index does not support mutable operations
    # 다른 방법을 사용해봐야겠다

# colum의 특정 원소를 변경시 rename()
    # rename()의 매개변수들
        # index : 딕셔너리 형태 인자값을 사용 {기준이 되는 index 값 : 변경할 index의 값}
        # columns : 딕셔너리 형태 인자값을 사용 {기준이 되는 column 값 : 변경할 column의 값}
df.rename(index = {2 : 5},
          columns= {'B' : 'F'}) # 바로 출력됨 == 변경된 값이 대입되지 않음 -> df에 다시 저장

        # inplace : bool형 인자값을 사용 (default == False : 데이터를 변경하지 않는다., True : 데이터를 변경한다)
            # df를 변경한다는 의미

df.rename(index = {2 : 5,
                   1 : 3},
          columns = {'B' : 'F',
                     'A' : 'Q'},
          inplace = True) # 변경된 값을 바로 대입함

# 주의할 점

'''df = df.rename(index = {2 : 5},
          columns= {'B' : 'F'},
          inplace= True)라고 사용하면 안됨 ! 
          바꾸는 과정이 df에 들어갔고, 바꾼 결과는 따로 데이터가 출력되지 않았는데
          그 결과가 df에 다시 담기게 돼서 df의 데이터가 None으로 나오게 됨'''

"df = df.rename(index = {2 : 5},\n          columns= {'B' : 'F'},\n          inplace= True)라고 사용하면 안됨 ! \n          바꾸는 과정이 df에 들어갔고, 바꾼 결과는 따로 데이터가 출력되지 않았는데\n          그 결과가 df에 다시 담기게 돼서 df의 데이터가 None으로 나오게 됨"

In [261]:
df

   Q  F  C
0  1  2  6
3  3  4  1
5  6  8  3

#### 외부의 데이터 파일을 로드

- csv, tsv
    - read_csv(파일의 경로)

- json
    - read_json(파일의 경로)

- excel (xls, xlsx)
    - read_excel(파일의 경로)
    - 추가로 라이브러리(readxl)를 설치해야 하는 상황이 존재 (excel 파일의 버전 때문)

- xml
    - read_xml(파일의 경로)

- html
    - read_html(html로 이루어진 문자형 데이터|파일)
    - 웹 구조 중 table로 이루어진 태그를 DataFrame으로 변경

- 공통으로 사용하는 매개변수
    - encoding 
        - 데이터 중 한글이 존재할 떄 encoding error가 발생할 수 있다.
        - 기본 encoding은 UTF-8로 되어있다.
            - 이를 'CP949' | 'EUC-KR'로 변경하면 정상 작동할 것

In [262]:
## 외부의 csv 파일을 로드

    ## 절대경로를 통해 파일 로드 (환경이 변할 때 파일의 위치를 찾지 못할 경우가 생긴다.)

corona = pd.read_csv(r'C:\Users\USER\Documents\GitHub\test_1\csv\corona.csv') # 앞에 r을 붙여주면 뒤의 내용들을 경로로 인식하게 해줌 (그냥 돌리면 \ 때문에 error)

    ## 상대경로를 통해 파일 로드
        # 상위로 이동(../) -> 상위로 이동(../) -> csv 폴더로 이동(csv/) -> corona.scv

corona2 = pd.read_csv('../../csv/corona.csv')

In [263]:
## 데이터가 한글인 경우

# df = pd.read_csv('../../csv/주민등록.csv') # UnicodeDecodeError  == 파일 안의 내용이 한글이고 encoding이 UTF-8로 되어 있기 때문에 발생

df = pd.read_csv('../../csv/주민등록.csv', encoding = 'CP949') # encoding을 'CP949' | 'EUC-KR'로 변경하면 정상 작동

In [264]:
df

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25

In [265]:
df.head()

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25

In [266]:
## 엑셀 파일을 로드
## 추가적인 라이브러리 설치가 필요한 경우도 존재

    ## 엑셀 로드시 에러 발생시

!pip install openpyxl


pd.read_excel('../../csv/2020/202001_expense_list.xlsx') # cnt + space 누르면 해당 폴더 안에 존재하는 파일들 보여줌 # ModuleNotFoundError: No module named 'openpyxl' openpyxl 모듈이 없어서 에러

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,21789676,2020년 1월 사업소 서울식물원 시설운영과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21789676,사업소,서울식물원,시설운영과,NaN,NaN,2020,1,NaN,NaN,NaN,푸른도시국 서울식물원 시설운영과,2020-01-22 10:25,코코호도마곡나루역점(강서구 마곡중앙5로 6),부서 전출직원 간담회 비용,이형선 외 3인,카드,30000
1,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-29 08:55,"㈜한국문화진흥(강남구 강남대로 636, 두원빌딩2층)",2020년도 1월 생일자 격려상품 구매,1월 직원 생일자 12명,카드,216720
2,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-28 12:05,스시사도(영등포구 여의대방로23길 20),2020년 상반기 학교아리수 음수대 감면 간담회 경비지급,"박영준,이상봉,이재욱,이대영,김춘근,김근태,박화준,박병국,조승용,전윤수",카드,124000
3,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 11:59,올갱이나라(영등포구 대방천로 234),2020년 설연휴기간 급수대책 및 수질관리 간담회 경비지급,"김지형,신민철,서영식,최신,이혜숙,여종순",카드,48000
4,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 14:45,두드림유통(동작구 보라매로19길 8),2020년 민원실 직원 격려 물품구매 경비지급,해당사항없음,카드,63310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5277,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 19:57,곰국시집(중구 무교로 24),박물관도시 서울 추진회의 결과 검토 간담회,시민소통기획관 외 3명,제로페이,60000
5278,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 13:04,세림(중구 을지로),시정 협력 관련 유관기관 업무협의 간담회,대외협력보좌관 외 2명,카드,51000
5279,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 12:20,더미시청점(중구 남대문로9길),제로페이 추진경과 검토 간담회,시민소통담당관 외 3명,제로페이,40000
5280,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 22:20,통인스윗팩토리(종로구 필운대로),시정 운영 관련 유관기관 업무협의 간담회,정무비서관 외 2명,카드,51000
5281,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 21:05,(주)에프아이티시스템(종로구 누하동),시정 소통협력을 위한 유관기관 의견수렴 간담회,정무수석 외 6명,카드,162000

In [267]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [268]:
# 특정 column을 제거
    # drop() : 특정 index나 특정 column을 제거할 때 사용
        # axis 매개변수 : 0 | rows -> 특정 행을 제거, 1 | columns -> 특정 열을 제거

    # column들의 이름을 출력하여 제거할 column의 정확한 이름 확인 (공백이나 다른 조건들을 표 상에서 정확히 파악하기 어렵기 때문)
corona.columns

    # drop() 함수를 이용해 특정 column을 제거
corona.drop('Unnamed: 0', axis = 1) # 결과가 출력이 된다 == 바뀐 데이터가 대입되지 않았다.

    # 변경점을 저장
corona.drop('Unnamed: 0', axis = 1, inplace = True) # 2번 이상 실행하면 에러 발생 : 이미 지운 Unnamed: 0은 이미 없어서 못 찾아서 에러

In [269]:
# df에서 상위 5개의 데이터를 출력 (default = 5)
    # head(2) == 상위 2개의 데이터를 출력
    # tail() == 하위 5개의 데이터를 출력

corona.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [270]:
# 데이터 프레임의 정보를 출력

    # info()

corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   createDt    820 non-null    object
 1   deathCnt    820 non-null    int64
 2   decideCnt   820 non-null    int64
 3   seq         820 non-null    int64
 4   stateDt     820 non-null    int64
 5   stateTime   820 non-null    object
 6   updateDt    817 non-null    object
 7   accExamCnt  692 non-null    float64
 8   accDefRate  623 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 57.8+ KB

In [271]:
# 결측치 확인

# corona.isna() # 개수 파악이 어렵다

# is.na() == 결측치의 유무를 참/거짓의 형태로 출력
# sum() == 합계
    # 기본 내장 함수가 아니라 pandas 내장 함수 (DafaFrame Class 안에 내장된 녀석이기 때문)
    # axis 매개변수 : 0 | rows == 행의 값들의 합 (기준이 열이 됨), 1| columns == 열의 값들의 합 (기준이 행이 됨), axis의 default는 0임 #### 이거이거 헷갈림
corona.isna().sum() # 각 column별 결측치의 수를 나타내 준다 (False : 0, True : 1로 계산하기 때문)

createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [272]:
# 통계 요약 정보를 출력하는 함수
    # describe()
        # 숫자 데이터들만 연산이 가능하기에 이들 값들에 대한 정보만 나옴

corona.describe()

,deathCnt,decideCnt,seq,stateDt,accExamCnt,accDefRate
count,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000
mean,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435
std,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014
min,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205
25%,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089
50%,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159
75%,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009
max,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308

In [273]:
## 데이터프레임에서 column의 이름을 변경

    # '등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시각', '수정일시', '누적의심자', '누적확진율'

# case1
    # rename()
'''corona.rename(columns = {
    'createDt' : '등록일시',
    'deathCnt' : '총사망자',
    'decideCnt' : '총확진자',
    'seq' : '게시글번호',
    'stateDt' : '기준일',
    'stateTime' : '기준시각',
    'updateDt' : '수정일시',
    'accExamCnt' : '누적의심자',
    'accDefRate' : '누적확진율'
    }
)''' # 하나하나 바꾸기엔 너무너무너무 길어 ! for문 돌릴 수도 있고 그냥 index 넘버로 쓸 수도 있지만 그래도 귀찮아

# case2
    # columns 변수에 새로운 값 대입
corona.columns = ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시각', '수정일시', '누적의심자', '누적확진율']

In [274]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [275]:
## 데이터 프레임에서 index의 순서를 변경
    # sort_index() == index를 기준으로 정렬을 변경
    # sort_values == column의 data를 기준으로 정렬을 변경
    # sort_xxx == 기본적으로 오름차순 정렬
        # ascending 매개변수 : True(default), 오름차순 정렬. False == 내림차순 정렬

corona.sort_values(
    ['등록일시'], # [] 사용한 이유 == 기준으로 하는 column이 여러개일 수 있기 때문 # 그리고 리스트를 비워도 문제가 안 생겨 :> 이거 버릇 들여놓으면 에러가 잘 안 생긴다
    ascending= True,
    inplace= True
    ) # 값이 출력됐다는 건 데이터가 바뀌지 않았다는 뜻, inplace = True로 바꿔주자

In [276]:
corona # index의 숫자가 거슬린다ㅏㅏ

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [277]:
## index를 초기화
    # reset_index()
    # drop 매개변수 : False(default) == 기존의 index를 column으로 이동, True == 기존의 index를 삭제
corona.reset_index(drop= True,
                   inplace= True) # 갹 index라는 column이 새로 생겼다 == index가 숫자가 아니라 시간인 경우 역시 존재하므로 기존의 index를 남겨줌
                                    # 잘 바뀌었는 지 먼저 확인 후 index도 drop하고 inplace도 True로 설정하는 것이 좋다

### 데이터 프레임의 filtering

- loc[index의 조건식, column의 조건식]
    - index의 값이나 column의 값을 기준으로 필터링 (df.loc[1, 'A'])
    - index의 조건식이나 column의 조건식을 기준으로 필터링
- iloc[index의 위치, column의 위치]
    - index의 위치, column의 위치를 기준으로 필터링 (df.iloc[2:4, 0:2])

In [278]:
# index 0의 column '총사망자'의 데이터를 출력

corona.loc[0, '총사망자']

54

In [279]:
# index 1의 column '총사망자'의 데이터를 출력
corona.loc[1, '총사망자']

60

In [280]:
# 일일 사망자 수 구하기

daily_data = corona.loc[1, '총사망자'] - corona.loc[0, '총사망자']

# 위의 작업을 corona의 index 개수 - 1 만큼 반복한다 (첫날은 당일 데이터가 일일 사망자수가 되겠지)
data_list = [0] # 일일 사망자 수 넣을 list 생성 + 첫 날의 데이터 설정
for i in range(len(corona) - 1):
    daily_data = corona.loc[i + 1, '총사망자'] - corona.loc[i, '총사망자']
    data_list.append(daily_data)

# 생성된 data_list를 corona에 추가

corona['일일 사망자'] = data_list # dict에 없는 key = value 하면 새로운 column으로 추가해줌 :>

In [281]:
data_list

[0,
 6,
 6,
 1,
 5,
 3,
 0,
 6,
 3,
 7,
 3,
 8,
 2,
 7,
 9,
 6,
 5,
 8,
 5,
 8,
 6,
 4,
 3,
 4,
 5,
 3,
 6,
 3,
 6,
 8,
 4,
 4,
 3,
 3,
 3,
 5,
 3,
 4,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 3,
 5,
 2,
 1,
 0,
 2,
 3,
 2,
 2,
 1,
 2,
 5,
 3,
 2,
 4,
 5,
 3,
 5,
 4,
 0,
 5,
 5,
 1,
 5,
 2,
 3,
 0,
 5,
 2,
 4,
 2,
 5,
 1,
 6,
 2,
 1,
 4,
 1,
 1,
 0,
 3,
 2,
 1,
 2,
 2,
 1,
 1,
 4,
 1,
 2,
 2,
 1,
 0,
 3,
 3,
 3,
 2,
 2,
 0,
 0,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 2,
 0,
 1,
 4,
 1,
 1,
 0,
 2,
 2,
 3,
 2,
 2,
 4,
 1,
 3,
 2,
 1,
 6,
 1,
 3,
 0,
 0,
 3,
 7,
 4,
 5,
 4,
 3,
 4,
 8,
 8,
 6,
 2,
 7,
 13,
 12,
 22,
 11,
 14,
 15,
 24,
 24,
 17,
 17,
 17,
 20,
 15,
 11,
 40,
 20,
 21,
 17,
 25,
 20,
 19,
 26,
 20,
 19,
 35,
 19,
 25,
 15,
 25,
 20,
 10,
 22,
 19,
 13,
 15,
 19,
 17,
 16,
 12,
 9,
 12,
 11,
 11,
 7,
 8,
 13,
 15,
 6,
 5,
 10,
 6,
 7,
 11,
 5,
 7,
 3,
 8,
 4,
 10,
 11,
 7,
 8,
 5,
 7,
 4,
 6,
 6,
 3,
 4,
 5,
 11,
 3,
 5,
 4,
 10,
 8,
 2,
 1,
 6,
 7,
 8,
 5,
 2,
 8,
 3,
 3,
 4,
 10,
 5,
 2,
 6,
 3,
 8,
 2,
 2,
 3,
 3,
 1,
 7,
 3,
 2,
 7,
 5,
 1,
 4,
 3,
 2,
 4,
 2,
 3,
 4,
 4,
 4,
 4,
 2,
 6,
 1,
 3,
 2,
 5,
 7,
 6,
 2,
 4,
 3,
 4,
 1,
 4,
 2,
 3,
 1,
 1,
 4,
 3,
 1,
 4,
 3,
 3,
 2,
 1,
 6,
 7,
 4,
 9,
 5,
 9,
 1,
 4,
 5,
 7,
 2,
 3,
 4,
 3,
 1,
 8,
 4,
 6,
 4,
 5,
 3,
 4,
 2,
 3,
 3,
 5,
 8,
 -2,
 6,
 2,
 3,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 3,
 3,
 4,
 1,
 1,
 2,
 1,
 5,
 2,
 2,
 1,
 1,
 1,
 3,
 1,
 2,
 2,
 1,
 3,
 3,
 1,
 1,
 2,
 4,
 1,
 1,
 2,
 2,
 5,
 1,
 2,
 2,
 2,
 1,
 4,
 2,
 1,
 1,
 1,
 3,
 3,
 2,
 5,
 4,
 2,
 4,
 2,
 4,
 6,
 3,
 1,
 5,
 2,
 3,
 4,
 3,
 5,
 4,
 9,
 1,
 3,
 6,
 4,
 8,
 11,
 6,
 5,
 13,
 6,
 5,
 13,
 7,
 6,
 9,
 20,
 8,
 11,
 3,
 5,
 1,
 7,
 11,
 5,
 7,
 6,
 6,
 3,
 4,
 9,
 5,
 10,
 1,
 1,
 7,
 13,
 6,
 3,
 5,
 9,
 6,
 4,
 6,
 8,
 7,
 7,
 9,
 6,
 8,
 10,
 7,
 16,
 7,
 3,
 6,
 11,
 12,
 8,
 10,
 6,
 15,
 8,
 11,
 11,
 13,
 8,
 18,
 16,
 8,
 21,
 9,
 11,
 16,
 20,
 21,
 7,
 15,
 9,
 11,
 9,
 13,
 19,
 9,
 16,
 18,
 24,
 20,
 20,
 11,
 13,
 18,
 14,
 21,
 18,
 32,
 20,
 12,
 22,
 21,
 29,
 28,
 29,
 30,
 24,
 30,
 34,
 39,
 39,
 52,
 56,
 32,
 44,
 34,
 47,
 34,
 70,
 43,
 41,
 64,
 63,
 57,
 53,
 80,
 42,
 40,
 94,
 70,
 62,
 73,
 53,
 78,
 54,
 52,
 78,
 109,
 56,
 105,
 69,
 55,
 46,
 36,
 73,
 108,
 62,
 69,
 36,
 51,
 57,
 49,
 45,
 54,
 51,
 34,
 43,
 52,
 44,
 49,
 22,
 29,
 23,
 45,
 74,
 28,
 21,
 28,
 11,
 25,
 23,
 32,
 34,
 24,
 34,
 20,
 23,
 17,
 15,
 25,
 24,
 22,
 15,
 13,
 36,
 21,
 20,
 49,
 33,
 36,
 21,
 61,
 39,
 36,
 45,
 71,
 51,
 45,
 58,
 99,
 82,
 94,
 112,
 49,
 114,
 112,
 96,
 128,
 186,
 216,
 161,
 139,
 186,
 158,
 206,
 229,
 269,
 251,
 200,
 293,
 164,
 429,
 301,
 319,
 327,
 329,
 384,
 291,
 469,
 393,
 323,
 282,
 287,
 237,
 432,
 375,
 360,
 339,
 306,
 218,
 209,
 371,
 348,
 373,
 338,
 329,
 258,
 171,
 184,
 318,
 264,
 273,
 203,
 132,
 130,
 166,
 147,
 206,
 151,
 109,
 110,
 82,
 141,
 122,
 136,
 70,
 81,
 83,
 49,
 72,
 79,
 48,
 83,
 71,
 40,
 62,
 29,
 63,
 52,
 55,
 48,
 35,
 27,
 31,
 40,
 43,
 26,
 54,
 22,
 19,
 23,
 34,
 40,
 36,
 19,
 9,
 9,
 21,
 15,
 17,
 9,
 20,
 21,
 20,
 6]

In [282]:
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6

In [283]:
## shift(n) == index를 n만큼 이동시킨다 (-1이면 위로 한 칸 이동)

corona['총사망자'].shift(1) # index를 아래로 1칸 이동, 따라서 0번 index의 값이 NaN으로 나옴

0          NaN
1         54.0
2         60.0
3         66.0
4         67.0
        ...
815    24229.0
816    24238.0
817    24258.0
818    24279.0
819    24299.0
Name: 총사망자, Length: 820, dtype: float64

In [284]:
corona['총사망자'].values # array, 행렬의 형태

array([   54,    60,    66,    67,    72,    75,    75,    81,    84,
          91,    94,   102,   104,   111,   120,   126,   131,   139,
         144,   152,   158,   162,   165,   169,   174,   177,   183,
         186,   192,   200,   204,   208,   211,   214,   217,   222,
         225,   229,   230,   232,   234,   236,   237,   238,   240,
         240,   240,   242,   243,   244,   246,   247,   248,   250,
         250,   252,   254,   255,   256,   256,   256,   256,   256,
         258,   259,   260,   262,   262,   263,   263,   263,   264,
         264,   266,   266,   267,   269,   269,   269,   269,   269,
         270,   271,   272,   273,   273,   273,   273,   273,   273,
         274,   276,   276,   277,   277,   277,   277,   278,   279,
         280,   280,   280,   280,   280,   281,   281,   282,   282,
         282,   282,   282,   282,   282,   282,   282,   283,   283,
         284,   285,   285,   287,   288,   288,   289,   289,   289,
         289,   291,   293,   294,   295,   296,   296,   297,   297,
         298,   298,   298,   299,   300,   300,   300,   301,   301,
         301,   301,   301,   302,   302,   303,   304,   305,   305,
         305,   305,   305,   305,   305,   305,   305,   306,   306,
         307,   309,   309,   309,   309,   310,   312,   313,   316,
         321,   323,   324,   324,   326,   329,   331,   333,   334,
         336,   341,   344,   346,   350,   355,   358,   363,   367,
         367,   372,   377,   378,   383,   385,   388,   388,   393,
         395,   399,   401,   406,   407,   413,   415,   416,   420,
         421,   422,   422,   425,   427,   428,   430,   432,   433,
         434,   438,   439,   441,   443,   444,   444,   447,   450,
         453,   455,   457,   457,   457,   460,   461,   462,   463,
         464,   466,   468,   472,   474,   475,   476,   477,   478,
         480,   485,   487,   487,   488,   492,   493,   494,   494,
         496,   498,   501,   503,   505,   509,   510,   513,   515,
         516,   522,   523,   526,   526,   526,   529,   536,   540,
         545,   549,   552,   556,   564,   572,   578,   580,   587,
         600,   612,   634,   645,   659,   674,   698,   722,   739,
         756,   773,   793,   808,   819,   859,   879,   900,   917,
         942,   962,   981,  1007,  1027,  1046,  1081,  1100,  1125,
        1140,  1165,  1185,  1195,  1217,  1236,  1249,  1264,  1283,
        1300,  1316,  1328,  1337,  1349,  1360,  1371,  1378,  1386,
        1399,  1414,  1420,  1425,  1435,  1441,  1448,  1459,  1464,
        1471,  1474,  1482,  1486,  1496,  1507,  1514,  1522,  1527,
        1534,  1538,  1544,  1550,  1553,  1557,  1562,  1573,  1576,
        1581,  1585,  1595,  1603,  1605,  1606,  1612,  1619,  1627,
        1632,  1634,  1642,  1645,  1648,  1652,  1662,  1667,  1669,
        1675,  1678,  1686,  1688,  1690,  1693,  1696,  1697,  1704,
        1707,  1709,  1716,  1721,  1722,  1726,  1729,  1731,  1735,
        1737,  1740,  1744,  1748,  1752,  1756,  1758,  1764,  1765,
        1768,  1770,  1775,  1782,  1788,  1790,  1794,  1797,  1801,
        1802,  1806,  1808,  1811,  1812,  1813,  1817,  1820,  1821,
        1825,  1828,  1831,  1833,  1834,  1840,  1847,  1851,  1860,
        1865,  1874,  1875,  1879,  1884,  1891,  1893,  1896,  1900,
        1903,  1904,  1912,  1916,  1922,  1926,  1931,  1934,  1938,
        1940,  1943,  1946,  1951,  1959,  1957,  1963,  1965,  1968,
        1969,  1971,  1973,  1974,  1975,  1977,  1979,  1981,  1982,
        1985,  1988,  1992,  1993,  1994,  1996,  1997,  2002,  2004,
        2006,  2007,  2008,  2009,  2012,  2013,  2015,  2017,  2018,
        2021,  2024,  2025,  2026,  2028,  2032,  2033,  2034,  2036,
        2038,  2043,  2044,  2046,  2048,  2050,  2051,  2055,  2057,
        2058,  2059,  2060,  2063,  2066,  2068,  2073,  2077,  2079,
        2083,  2085,  2089,  2095,  2098,  2099,  2104,  2106,  2109,
        2113,  2116,  2121,  2125,  2134,  2135,  2138,  2144,  2148,
        2156,  2167,  2173,  2178,  2191,  2197,  2202,  2215,  2222,
        2228,  2237,  2257,  2265,  2276,  2279,  2284,  2285,  2292,
        2303,  2308,  2315,  2321,  2327,  2330,  2334,  2343,  2348,
        2358,  2359,  2360,  2367,  2380,  2386,  2389,  2394,  2403,
        2409,  2413,  2419,  2427,  2434,  2441,  2450,  2456,  2464,
        2474,  2481,  2497,  2504,  2507,  2513,  2524,  2536,  2544,
        2554,  2560,  2575,  2583,  2594,  2605,  2618,  2626,  2644,
        2660,  2668,  2689,  2698,  2709,  2725,  2745,  2766,  2773,
        2788,  2797,  2808,  2817,  2830,  2849,  2858,  2874,  2892,
        2916,  2936,  2956,  2967,  2980,  2998,  3012,  3033,  3051,
        3083,  3103,  3115,  3137,  3158,  3187,  3215,  3244,  3274,
        3298,  3328,  3362,  3401,  3440,  3492,  3548,  3580,  3624,
        3658,  3705,  3739,  3809,  3852,  3893,  3957,  4020,  4077,
        4130,  4210,  4252,  4292,  4386,  4456,  4518,  4591,  4644,
        4722,  4776,  4828,  4906,  5015,  5071,  5176,  5245,  5300,
        5346,  5382,  5455,  5563,  5625,  5694,  5730,  5781,  5838,
        5887,  5932,  5986,  6037,  6071,  6114,  6166,  6210,  6259,
        6281,  6310,  6333,  6378,  6452,  6480,  6501,  6529,  6540,
        6565,  6588,  6620,  6654,  6678,  6712,  6732,  6755,  6772,
        6787,  6812,  6836,  6858,  6873,  6886,  6922,  6943,  6963,
        7012,  7045,  7081,  7102,  7163,  7202,  7238,  7283,  7354,
        7405,  7450,  7508,  7607,  7689,  7783,  7895,  7944,  8058,
        8170,  8266,  8394,  8580,  8796,  8957,  9096,  9282,  9440,
        9646,  9875, 10144, 10395, 10595, 10888, 11052, 11481, 11782,
       12101, 12428, 12757, 13141, 13432, 13901, 14294, 14617, 14899,
       15186, 15423, 15855, 16230, 16590, 16929, 17235, 17453, 17662,
       18033, 18381, 18754, 19092, 19421, 19679, 19850, 20034, 20352,
       20616, 20889, 21092, 21224, 21354, 21520, 21667, 21873, 22024,
       22133, 22243, 22325, 22466, 22588, 22724, 22794, 22875, 22958,
       23007, 23079, 23158, 23206, 23289, 23360, 23400, 23462, 23491,
       23554, 23606, 23661, 23709, 23744, 23771, 23802, 23842, 23885,
       23911, 23965, 23987, 24006, 24029, 24063, 24103, 24139, 24158,
       24167, 24176, 24197, 24212, 24229, 24238, 24258, 24279, 24299,
       24305], dtype=int64)

In [285]:
import numpy as np

In [286]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list1 + list2 # list의 합 (결합)

[1, 2, 3, 4, 5, 6, 7, 8]

In [287]:
list3 = np.array(list1)
list4 = np.array(list2)

list3 + list4 # 행렬식의 합 (행렬 원소들간의 합)

array([ 6,  8, 10, 12])

In [288]:
# 위에 했던 것들을 좀 더 쉽게 하는 방법 (for문을 사용하지 않아도 되는 방법)

corona['일일사망자2'] = corona['총사망자'] - corona['총사망자'].shift(1) # array 형태이고, 같은 index끼리 차를 구할테니
                                                # 0번 index는 결측치가 포함된 연산이라 결측치가 나오고, 나머지는 차가 나올거야

In [289]:
corona.head()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0

In [290]:
# 가장 쉬운 방법
    # diff(n) == index를 n만큼 이동한 데이터와의 차이값을 출력, default는 1

corona['일일사망자3'] = corona['총사망자'].diff(1)

In [291]:
corona.head()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0

In [292]:
## 결측치를 특정한 값으로 대체
    ## 채운다(fill) + 결측치(na) == fillna()
    ## fillna(data) == 결측치를 data로 치환한다
    ## fillna(method =) : method 매개변수
        ## ffill (frontfill) == 결측치 바로 전의 데이터로 치환한다
        ## bfill (backfill) == 결측치 바로 후의 데이터로 치환한다

values = [
    [1, 2, 3],
    [5, np.nan, np.nan],
    [np.nan, 8, 9]
]

df = pd.DataFrame(values, columns= ['A', 'B', 'C'])

In [293]:
df['B'] = df['B'].fillna(method= 'ffill') # 이거 df에다 넣으면 안되는거야 ! 이건 df['B']라고 :> 이거 실수 많이 나온대

C:\Users\USER\AppData\Local\Temp\ipykernel_15328\4232559853.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['B'] = df['B'].fillna(method= 'ffill') # 이거 df에다 넣으면 안되는거야 ! 이건 df['B']라고 :> 이거 실수 많이 나온대

In [294]:
df['C'] = df['C'].fillna(method = 'bfill')

C:\Users\USER\AppData\Local\Temp\ipykernel_15328\4126174138.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['C'] = df['C'].fillna(method = 'bfill')

In [295]:
df.fillna(method= 'bfill') # 결측치 앞 | 뒤 데이터가 존재하지 않는 상태에서 f|b fill을 사용하면 결측치가 남아있게 된다.

C:\Users\USER\AppData\Local\Temp\ipykernel_15328\3653946867.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method= 'bfill') # 결측치 앞 | 뒤 데이터가 존재하지 않는 상태에서 f|b fill을 사용하면 결측치가 남아있게 된다.

     A    B    C
0  1.0  2.0  3.0
1  5.0  2.0  9.0
2  NaN  8.0  9.0

In [296]:
df.fillna(0)

     A    B    C
0  1.0  2.0  3.0
1  5.0  2.0  9.0
2  0.0  8.0  9.0

In [297]:
## corona 데이터에서 일일사망자2, 일일사망자3의 결측치를 0으로 대체

corona[['일일사망자2', '일일사망자3']] = corona[ ['일일사망자2', '일일사망자3'] ].fillna(0) # 데이터를 받는 형태가 list면 2개 이상의 column을 받을 수 있다 (R의 c()같은 녀석이고만)

In [298]:
corona.head()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0

In [299]:
corona.describe() # ?? 이상치다 사망자가 -2명이야 부활이다

,총사망자,총확진자,게시글번호,기준일,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
count,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390
std,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863
min,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000
25%,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000
50%,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000
75%,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000
max,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000

In [300]:
# loc[index의 조건식, column의 조건식]
    # index == 일일 사망자가 음수, column == 전부

flag = corona['일일 사망자'] < 0 # index의 조건식을 넣기 위한 변수 생성

corona.loc[flag, ] # index가 flag 조건을 만족하고 column은 전부 보는 함수
    # 이 데이터만 봐서는 어떤 일이 발생했는 지 알기 어렵기에 전, 후 데이터를 뽑아서 확인

corona.iloc[444:449] # index 445와 446에서 문제, 기준일과 등록일시가 맞지 않고 등록일시의 포멧도 맞지않는다.
                        # 수정일시가 다른걸보아 수정시에 데이터 입력을 잘못 한 것으로 보인다

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,496,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-30 00:00:00.0,1959,140337,498,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,497,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,499,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,500,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0

In [301]:
# index 445번의 등록일시의 데이터를 수정

corona.loc[445, '등록일시'] = '2021-05-31 00:00:00.000'

In [238]:
corona.iloc[444:449]

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,496,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-31 00:00:00.000,1959,140337,498,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,497,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,499,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,500,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0

In [239]:
# 일일 사망자, 일일사망자2, 일일사망자3 column 제거 (필요없으니까)

# 등록일시를 기준으로 오름차순 정렬

# index를 초기화

# shift() 함수를 이용해 일일사망자 파생변수 생성

# diff() 함수를 이용해 일일확진자 파생변수 생성

# 일일사망자, 일일확진자에 음수가 존재하는 지 확인

In [302]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일 사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9,9.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20,20.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,6,6.0,6.0

In [303]:
corona.drop(['일일 사망자', '일일사망자2', '일일사망자3'], axis= 1, inplace=True)

corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [312]:

corona.sort_values(['등록일시'], 
                   ascending= True,
                   inplace= True)

In [314]:

corona.reset_index(drop= True,
                   inplace= True)

In [315]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [316]:
corona.iloc[444:449]

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
444,2021-05-29 00:00:00.000,1951,139427,496,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884
445,2021-05-30 00:00:00.000,1957,139907,497,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166
446,2021-05-31 00:00:00.000,1959,140337,498,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805
447,2021-06-01 00:00:00.000,1963,140796,499,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890
448,2021-06-02 00:00:00.000,1965,141473,500,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668

In [317]:
corona['일일사망자'] = corona['총사망자'] - corona['총사망자'].shift(1)  # 그냥 여기 괄호로 묶고 .fillna(0) 해도 짧아지겠다
corona['일일확진자'] = corona['총확진자'].diff()

In [318]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,6.0,13358.0

In [322]:
corona[['일일사망자', '일일확진자']] = corona[['일일사망자', '일일확진자']].fillna(0)

In [323]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,6.0,13358.0

In [324]:
corona.describe()

,총사망자,총확진자,게시글번호,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014,68.530435,71013.844067
min,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159,5.000000,634.000000
75%,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000