In [1]:
## 라이브러리 로드

import pandas as pd

33

In [2]:
## 1차원 데이터 형이 Series를 생성

pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [3]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'] # index 값을 지정할 때는 value와 index의 구조(개수)를 같게 만들어야 한다
)

print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [7]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수를 가진다
    # values, index

print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [10]:
pd_series.index = ['대입1', '대입2', '대입3', '대입4'] # index가 지정되지 않았던 Series에 index 값 지정 (변수에 데이터 지정)

In [11]:
pd_series # 확인

대입1    5000
대입2    6000
대입3    6500
대입4    6500
dtype: int64

In [12]:
values = [
    [1, 2, 6],
    [3, 4, 1],
    [6, 8, 3]
]

df = pd.DataFrame(values)

In [13]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [14]:
## 데이터프레임에는 적어도 3개의 변수가 존재
    ## values, index, columns

print('데이터 프레임의 values = ', df.values)
print('데이터 프레임의 index = ', df.index)
print('데이터 프레임의 columns = ', df.columns)

데이터 프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터 프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터 프레임의 columns =  RangeIndex(start=0, stop=3, step=1)