In [1]:
## 라이브러리 로드

import pandas as pd

33

In [2]:
## 1차원 데이터 형이 Series를 생성

pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [3]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'] # index 값을 지정할 때는 value와 index의 구조(개수)를 같게 만들어야 한다
)

print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [7]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수를 가진다
    # values, index

print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [10]:
pd_series.index = ['대입1', '대입2', '대입3', '대입4'] # index가 지정되지 않았던 Series에 index 값 지정 (변수에 데이터 지정)

In [11]:
pd_series # 확인

대입1    5000
대입2    6000
대입3    6500
대입4    6500
dtype: int64

In [12]:
values = [
    [1, 2, 6],
    [3, 4, 1],
    [6, 8, 3]
]

df = pd.DataFrame(values)

In [13]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [14]:
## 데이터프레임에는 적어도 3개의 변수가 존재
    ## values, index, columns

print('데이터 프레임의 values = ', df.values)
print('데이터 프레임의 index = ', df.index)
print('데이터 프레임의 columns = ', df.columns)

데이터 프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터 프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터 프레임의 columns =  RangeIndex(start=0, stop=3, step=1)

In [15]:
# column의 이름을 변경

df.columns = ['A', 'B', 'C']

In [16]:
df

   A  B  C
0  1  2  6
1  3  4  1
2  6  8  3

In [28]:
# column의 특정 원소를 변경

'''df.columns[1] = 'F' '''
    # error, Index does not support mutable operations
    # 다른 방법을 사용해봐야겠다

# colum의 특정 원소를 변경시 rename()
    # rename()의 매개변수들
        # index : 딕셔너리 형태 인자값을 사용 {기준이 되는 index 값 : 변경할 index의 값}
        # columns : 딕셔너리 형태 인자값을 사용 {기준이 되는 column 값 : 변경할 column의 값}
df.rename(index = {2 : 5},
          columns= {'B' : 'F'}) # 바로 출력됨 == 변경된 값이 대입되지 않음 -> df에 다시 저장

        # inplace : bool형 인자값을 사용 (default == False : 데이터를 변경하지 않는다., True : 데이터를 변경한다)
            # df를 변경한다는 의미

df.rename(index = {2 : 5,
                   1 : 3},
          columns = {'B' : 'F',
                     'A' : 'Q'},
          inplace = True) # 변경된 값을 바로 대입함

# 주의할 점

'''df = df.rename(index = {2 : 5},
          columns= {'B' : 'F'},
          inplace= True)라고 사용하면 안됨 ! 
          바꾸는 과정이 df에 들어갔고, 바꾼 결과는 따로 데이터가 출력되지 않았는데
          그 결과가 df에 다시 담기게 돼서 df의 데이터가 None으로 나오게 됨'''

"df = df.rename(index = {2 : 5},\n          columns= {'B' : 'F'},\n          inplace= True)라고 사용하면 안됨 ! "

In [29]:
df

   Q  F  C
0  1  2  6
3  3  4  1
5  6  8  3

#### 외부의 데이터 파일을 로드

- csv, tsv
    - read_csv(파일의 경로)

- json
    - read_json(파일의 경로)

- excel (xls, xlsx)
    - read_excel(파일의 경로)
    - 추가로 라이브러리(readxl)를 설치해야 하는 상황이 존재 (excel 파일의 버전 때문)

- xml
    - read_xml(파일의 경로)

- html
    - read_html(html로 이루어진 문자형 데이터|파일)
    - 웹 구조 중 table로 이루어진 태그를 DataFrame으로 변경

- 공통으로 사용하는 매개변수
    - encoding 
        - 데이터 중 한글이 존재할 떄 encoding error가 발생할 수 있다.
        - 기본 encoding은 UTF-8로 되어있다.
            - 이를 'CP949' | 'EUC-KR'로 변경하면 정상 작동할 것

In [34]:
## 외부의 csv 파일을 로드

    ## 절대경로를 통해 파일 로드 (환경이 변할 때 파일의 위치를 찾지 못할 경우가 생긴다.)

corona = pd.read_csv(r'C:\Users\USER\Documents\GitHub\test_1\csv\corona.csv') # 앞에 r을 붙여주면 뒤의 내용들을 경로로 인식하게 해줌 (그냥 돌리면 \ 때문에 error)

    ## 상대경로를 통해 파일 로드
        # 상위로 이동(../) -> 상위로 이동(../) -> csv 폴더로 이동(csv/) -> corona.scv

corona2 = pd.read_csv('../../csv/corona.csv')

In [38]:
## 데이터가 한글인 경우

# df = pd.read_csv('../../csv/주민등록.csv') # UnicodeDecodeError  == 파일 안의 내용이 한글이고 encoding이 UTF-8로 되어 있기 때문에 발생

df = pd.read_csv('../../csv/주민등록.csv', encoding = 'CP949') # encoding을 'CP949' | 'EUC-KR'로 변경하면 정상 작동

In [39]:
df

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25

In [40]:
df.head()

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25

In [ ]:
## 엑셀 파일을 로드
## 추가적인 라이브러리 설치가 필요한 경우도 존재

    ## 엑셀 로드시 에러 발생시

!pip install openpyxl


pd.read_excel('../../csv/2020/202001_expense_list.xlsx') # cnt + space 누르면 해당 폴더 안에 존재하는 파일들 보여줌 # ModuleNotFoundError: No module named 'openpyxl' openpyxl 모듈이 없어서 에러

In [44]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [50]:
# 특정 column을 제거
    # drop() : 특정 index나 특정 column을 제거할 때 사용
        # axis 매개변수 : 0 | rows -> 특정 행을 제거, 1 | columns -> 특정 열을 제거

    # column들의 이름을 출력하여 제거할 column의 정확한 이름 확인 (공백이나 다른 조건들을 표 상에서 정확히 파악하기 어렵기 때문)
corona.columns

    # drop() 함수를 이용해 특정 column을 제거
corona.drop('Unnamed: 0', axis = 1) # 결과가 출력이 된다 == 바뀐 데이터가 대입되지 않았다.

    # 변경점을 저장
corona.drop('Unnamed: 0', axis = 1, inplace = True) # 2번 이상 실행하면 에러 발생 : 이미 지운 Unnamed: 0은 이미 없어서 못 찾아서 에러

In [52]:
# df에서 상위 5개의 데이터를 출력 (default = 5)
    # head(2) == 상위 2개의 데이터를 출력
    # tail() == 하위 5개의 데이터를 출력

corona.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [53]:
# 데이터 프레임의 정보를 출력

    # info()

corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   createDt    820 non-null    object
 1   deathCnt    820 non-null    int64
 2   decideCnt   820 non-null    int64
 3   seq         820 non-null    int64
 4   stateDt     820 non-null    int64
 5   stateTime   820 non-null    object
 6   updateDt    817 non-null    object
 7   accExamCnt  692 non-null    float64
 8   accDefRate  623 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 57.8+ KB

In [57]:
# 결측치 확인

# corona.isna() # 개수 파악이 어렵다

# is.na() == 결측치의 유무를 참/거짓의 형태로 출력
# sum() == 합계
    # 기본 내장 함수가 아니라 pandas 내장 함수 (DafaFrame Class 안에 내장된 녀석이기 때문)
    # axis 매개변수 : 0 | rows == 행의 값들의 합 (기준이 열이 됨), 1| columns == 열의 값들의 합 (기준이 행이 됨), axis의 default는 0임 #### 이거이거 헷갈림
corona.isna().sum() # 각 column별 결측치의 수를 나타내 준다 (False : 0, True : 1로 계산하기 때문)

createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [58]:
# 통계 요약 정보를 출력하는 함수
    # describe()
        # 숫자 데이터들만 연산이 가능하기에 이들 값들에 대한 정보만 나옴

corona.describe()

,deathCnt,decideCnt,seq,stateDt,accExamCnt,accDefRate
count,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000
mean,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435
std,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014
min,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205
25%,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089
50%,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159
75%,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009
max,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308

In [60]:
## 데이터프레임에서 column의 이름을 변경

    # '등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시각', '수정일시', '누적의심자', '누적확진율'

# case1
    # rename()
'''corona.rename(columns = {
    'createDt' : '등록일시',
    'deathCnt' : '총사망자',
    'decideCnt' : '총확진자',
    'seq' : '게시글번호',
    'stateDt' : '기준일',
    'stateTime' : '기준시각',
    'updateDt' : '수정일시',
    'accExamCnt' : '누적의심자',
    'accDefRate' : '누적확진율'
    }
)''' # 하나하나 바꾸기엔 너무너무너무 길어 !

# case2
    # columns 변수에 새로운 값 대입
corona.columns = ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시각', '수정일시', '누적의심자', '누적확진율']

In [63]:
corona

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시각,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308