In [1]:
## 라이브러리 로드

import pandas as pd

33

In [2]:
## 1차원 데이터 형이 Series를 생성

pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [3]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'] # index 값을 지정할 때는 value와 index의 구조(개수)를 같게 만들어야 한다
)

print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [7]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수를 가진다
    # values, index

print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [10]:
pd_series.index = ['대입1', '대입2', '대입3', '대입4'] # index가 지정되지 않았던 Series에 index 값 지정 (변수에 데이터 지정)

In [11]:
pd_series # 확인

대입1    5000
대입2    6000
대입3    6500
대입4    6500
dtype: int64

In [12]:
values = [
    [1, 2, 6],
    [3, 4, 1],
    [6, 8, 3]
]

df = pd.DataFrame(values)

In [13]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [14]:
## 데이터프레임에는 적어도 3개의 변수가 존재
    ## values, index, columns

print('데이터 프레임의 values = ', df.values)
print('데이터 프레임의 index = ', df.index)
print('데이터 프레임의 columns = ', df.columns)

데이터 프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터 프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터 프레임의 columns =  RangeIndex(start=0, stop=3, step=1)

In [15]:
# column의 이름을 변경

df.columns = ['A', 'B', 'C']

In [16]:
df

   A  B  C
0  1  2  6
1  3  4  1
2  6  8  3

In [28]:
# column의 특정 원소를 변경

'''df.columns[1] = 'F' '''
    # error, Index does not support mutable operations
    # 다른 방법을 사용해봐야겠다

# colum의 특정 원소를 변경시 rename()
    # rename()의 매개변수들
        # index : 딕셔너리 형태 인자값을 사용 {기준이 되는 index 값 : 변경할 index의 값}
        # columns : 딕셔너리 형태 인자값을 사용 {기준이 되는 column 값 : 변경할 column의 값}
df.rename(index = {2 : 5},
          columns= {'B' : 'F'}) # 바로 출력됨 == 변경된 값이 대입되지 않음 -> df에 다시 저장

        # inplace : bool형 인자값을 사용 (default == False : 데이터를 변경하지 않는다., True : 데이터를 변경한다)
            # df를 변경한다는 의미

df.rename(index = {2 : 5,
                   1 : 3},
          columns = {'B' : 'F',
                     'A' : 'Q'},
          inplace = True) # 변경된 값을 바로 대입함

# 주의할 점

'''df = df.rename(index = {2 : 5},
          columns= {'B' : 'F'},
          inplace= True)라고 사용하면 안됨 ! 
          바꾸는 과정이 df에 들어갔고, 바꾼 결과는 따로 데이터가 출력되지 않았는데
          그 결과가 df에 다시 담기게 돼서 df의 데이터가 None으로 나오게 됨'''

"df = df.rename(index = {2 : 5},\n          columns= {'B' : 'F'},\n          inplace= True)라고 사용하면 안됨 ! "

In [29]:
df

   Q  F  C
0  1  2  6
3  3  4  1
5  6  8  3

#### 외부의 데이터 파일을 로드

- csv, tsv
    - read_csv(파일의 경로)

- json
    - read_json(파일의 경로)

- excel (xls, xlsx)
    - read_excel(파일의 경로)
    - 추가로 라이브러리(readxl)를 설치해야 하는 상황이 존재 (excel 파일의 버전 때문)

- xml
    - read_xml(파일의 경로)

- html
    - read_html(html로 이루어진 문자형 데이터|파일)
    - 웹 구조 중 table로 이루어진 태그를 DataFrame으로 변경

- 공통으로 사용하는 매개변수
    - encoding 
        - 데이터 중 한글이 존재할 떄 encoding error가 발생할 수 있다.
        - 기본 encoding은 UTF-8로 되어있다.
            - 이를 'CP949' | 'EUC-KR'로 변경하면 정상 작동할 것

In [31]:
## 외부의 csv 파일을 로드

    ## 절대경로를 통해 파일 로드

corona = pd.read_csv(r'C:\Users\USER\Documents\GitHub\test_1\csv\corona.csv') # 앞에 r을 붙여주면 뒤의 내용들을 경로로 인식하게 해줌 (그냥 돌리면 \ 때문에 error)