## 특정 경로에 있는 파일의 목록을 로드

1. 일반적인 방법 - > 상대경로, 절대경로를 이용해서 파일을 하나씩 로드
2. 특정 경로에 있는 파일의 목록(list)을 기준으로 데이터 로드
    - os 라이브러리 이용하는 방법
    - glob 라이브러리 이용하는 방법
3. 파일의 목록을 기준으로 데이터를 for문을 이용해서 로드

In [2]:
import os
import glob
import pandas as pd

In [3]:
## csv 폴더 안에 있는 2017 폴더에 있는 데이터들을 로드

    # os 라이브러리를 이용하여 파일의 목록을 불러온다.
        # 목록(list) + 파일의 목록을 보는 명령어 (dir)
os.listdir('../../csv/2017')

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [4]:
# 파일 목록을 로드할 경로를 변수에 저장

file_path = '../../csv/2017/'
file_list = os.listdir(file_path)

file_list

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [5]:
total_df = pd.DataFrame()

for i in file_list:
    df = pd.read_csv(file_path + i)
    total_df = pd.concat([total_df, df], axis= 0, ignore_index= True) # for문 안에 유니언 결합 넣어서 더해주기 (빈 리스트에 데이터 계속 append 하는 것과 같음)
                                                                        # 근데 join 결합 계속 하는 것도 괜찮겠다. 어차피 2개씩만 계속 더해지니까 말야.

In [6]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [7]:
total_df.isna().any()

nid                  False
title                False
url                  False
dept_nm_lvl_1        False
dept_nm_lvl_2         True
dept_nm_lvl_3         True
dept_nm_lvl_4         True
dept_nm_lvl_5         True
exec_yr              False
exec_month           False
expense_budget        True
expense_execution     True
category              True
dept_nm_full          True
exec_dt              False
exec_loc              True
exec_purpose          True
target_nm             True
payment_method        True
exec_amount          False
dtype: bool

In [8]:
file_path_2019 = '../../csv/2019/'
file_list_2019 = os.listdir(file_path_2019)

file_list_2019

['201901_expense_list.json',
 '201902_expense_list.json',
 '201903_expense_list.json',
 '201904_expense_list.json',
 '201905_expense_list.json',
 '201906_expense_list.json',
 '201907_expense_list.json',
 '201908_expense_list.json',
 '201909_expense_list.json',
 '201910_expense_list.json',
 '201911_expense_list.json',
 '201912_expense_list.json']

In [9]:
result_2019 = pd.DataFrame()

for file in file_list_2019:
    df = pd.read_json(file_path_2019 + file)
    result_2019 = pd.concat([result_2019, df], axis= 0, ignore_index= True)

In [10]:
result_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74207 entries, 0 to 74206
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.3+ MB

In [14]:
file_path_2020 = '../../csv/2020/'
file_list_2020 = os.listdir(file_path_2020)

file_list_2020

result_2020 = pd.DataFrame()

for file in file_list_2020:
    df = pd.read_excel(file_path_2020 + file)
    result_2020 = pd.concat([result_2020, df], axis= 0, ignore_index= True)

In [17]:
file_path_2021 = '../../csv/2021/'
file_list_2021 = os.listdir(file_path_2021)

file_list_2021

result_2021 = pd.DataFrame()

for file in file_list_2021:
    try:
        df1 = pd.read_csv(file_path_2021 + file)
        continue
    except:
        try:
            df1 = pd.read_json(file_path_2021 + file)
            continue
        except:
            df1 = pd.read_excel(file_path_2021 + file)
            continue
    result_2021 = pd.concat([result_2021, df1], axis= 0, ignore_index= True)

In [16]:
file_path_2021 = '../../csv/2021/'
file_list_2021 = os.listdir(file_path_2021)

file_list_2021

['202101_expense_list.csv',
 '202101_expense_list.json',
 '202101_expense_list.xlsx',
 '202101_expense_list.xml',
 '202102_expense_list.csv',
 '202102_expense_list.json',
 '202102_expense_list.xlsx',
 '202102_expense_list.xml',
 '202103_expense_list.csv',
 '202103_expense_list.json',
 '202103_expense_list.xlsx',
 '202103_expense_list.xml',
 '202104_expense_list.csv',
 '202104_expense_list.json',
 '202104_expense_list.xlsx',
 '202104_expense_list.xml',
 '202105_expense_list.csv',
 '202105_expense_list.json',
 '202105_expense_list.xlsx',
 '202105_expense_list.xml',
 '202106_expense_list.csv',
 '202106_expense_list.json',
 '202106_expense_list.xlsx',
 '202106_expense_list.xml',
 '202107_expense_list.csv',
 '202107_expense_list.json',
 '202107_expense_list.xlsx',
 '202107_expense_list.xml',
 '202108_expense_list.csv',
 '202108_expense_list.json',
 '202108_expense_list.xlsx',
 '202108_expense_list.xml',
 '202109_expense_list.csv',
 '202109_expense_list.json',
 '202109_expense_list.xlsx',
 '202109_expense_list.xml',
 '202110_expense_list.csv',
 '202110_expense_list.json',
 '202110_expense_list.xlsx',
 '202110_expense_list.xml',
 '202111_expense_list.csv',
 '202111_expense_list.json',
 '202111_expense_list.xlsx',
 '202111_expense_list.xml',
 '202112_expense_list.csv',
 '202112_expense_list.json',
 '202112_expense_list.xlsx',
 '202112_expense_list.xml']