In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 복습

1. csv 폴더 안에 있는 drinks.csv 파일 로드
2. 데이터 프레임의 정보, 결측치가 존재하는가 ?
3. column의 이름을 변경 -> ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']
4. 대륙 column에 결측치가 존재 -> 결측치를 'OT'로 대체
5. 새로운 파생변수 '총 술소비량' 생성 -> 맥주소비량 + 증류주소비량 + 와인소비량
6. 새로운 파생변수 '도수' 생성 -> 소비알콜량 / 총 술소비량 * 100
7. 도수 column의 전체 평균보다 대륙별 도수 평균이 높은 대륙을 출력

In [125]:
df = pd.read_csv('../../csv/drinks.csv')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [127]:
df.isna().sum()


## 결측치가 존재하는 컬럼은 어디인가? 를 보고싶다면
df.isna().any(axis=0) # axis를 index로 묶어야 column들이 나오겠지 :>

country                         False
beer_servings                   False
spirit_servings                 False
wine_servings                   False
total_litres_of_pure_alcohol    False
continent                        True
dtype: bool

In [128]:
df.columns = ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']

In [129]:
df.columns

Index(['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙'], dtype='object')

In [130]:
df['대륙'].fillna('OT', inplace= True)

C:\Users\USER\AppData\Local\Temp\ipykernel_28240\3990951094.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['대륙'].fillna('OT', inplace= True)

In [131]:
df['총 술소비량'] = df['맥주소비량'] + df['증류주소비량'] + df['와인소비량']

In [132]:
df['도수'] = (df['소비알콜량'] / df['총 술소비량']) * 100 # 혹시 모르니 () 넣어주는게 좋다 :>

In [133]:
flag = df['도수'].isna()

In [134]:
df[flag]

                   국가  맥주소비량  증류주소비량  와인소비량  소비알콜량  대륙  총 술소비량  도수
0         Afghanistan      0       0      0    0.0  AS       0 NaN
13         Bangladesh      0       0      0    0.0  AS       0 NaN
46        North Korea      0       0      0    0.0  AS       0 NaN
79               Iran      0       0      0    0.0  AS       0 NaN
90             Kuwait      0       0      0    0.0  AS       0 NaN
97              Libya      0       0      0    0.0  AF       0 NaN
103          Maldives      0       0      0    0.0  AS       0 NaN
106  Marshall Islands      0       0      0    0.0  OC       0 NaN
107        Mauritania      0       0      0    0.0  AF       0 NaN
111            Monaco      0       0      0    0.0  EU       0 NaN
128          Pakistan      0       0      0    0.0  AS       0 NaN
147        San Marino      0       0      0    0.0  EU       0 NaN
158           Somalia      0       0      0    0.0  AF       0 NaN

In [108]:
df[flag] = df[flag].fillna(0) # 여기 왜 inplace = True 안되냐
                                # flag 조건을 넣어두면 DataFrame의 부분으로 잡혀서 적용이 안 된것 같아
                                # df['도수']처럼 Series로 선택하면 inplace

In [109]:
df

              국가  맥주소비량  증류주소비량  와인소비량  소비알콜량  대륙  총 술소비량        도수
0    Afghanistan      0       0      0    0.0  AS       0  0.000000
1        Albania     89     132     54    4.9  EU     275  1.781818
2        Algeria     25       0     14    0.7  AF      39  1.794872
3        Andorra    245     138    312   12.4  EU     695  1.784173
4         Angola    217      57     45    5.9  AF     319  1.849530
..           ...    ...     ...    ...    ...  ..     ...       ...
188    Venezuela    333     100      3    7.7  SA     436  1.766055
189      Vietnam    111       2      1    2.0  AS     114  1.754386
190        Yemen      6       0      0    0.1  AS       6  1.666667
191       Zambia     32      19      4    2.5  AF      55  4.545455
192     Zimbabwe     64      18      4    4.7  AF      86  5.465116

[193 rows x 8 columns]

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주소비량   193 non-null    int64
 2   증류주소비량  193 non-null    int64
 3   와인소비량   193 non-null    int64
 4   소비알콜량   193 non-null    float64
 5   대륙      193 non-null    object
 6   총 술소비량  193 non-null    int64
 7   도수      193 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 12.2+ KB

In [111]:
mean_proof = df['도수'].mean()

In [112]:
mean_proof

2.6114806003105255

In [113]:
mean_continent = df[['대륙', '도수']].groupby(['대륙']).mean() # 여기 groupby()에 [] 넣어주는게 정신 건강에 좋아 :>

In [114]:
mean_continent

          도수
대륙
AF  4.974072
AS  1.635903
EU  1.752705
OC  1.689543
OT  1.785407
SA  1.786790

In [120]:
flag = mean_continent['도수'] > mean_proof # 츌력을 위한 조건 flag 생성

In [121]:
flag # 확인

대륙
AF     True
AS    False
EU    False
OC    False
OT    False
SA    False
Name: 도수, dtype: bool

In [123]:
mean_continent[flag] # 조건에 맞는 value 출력

          도수
대륙
AF  4.974072

In [117]:
'''mean_continent.map(
    lambda x : x > mean_proof,
)''' # 이걸 안 해도 되지 :>

       도수
대륙
AF   True
AS  False
EU  False
OC  False
OT  False
SA  False