#### 복습

1. csv 폴더 안에 있는 drinks.csv 파일 로드
2. 데이터 프레임의 정보, 결측치가 존재하는가 ?
3. column의 이름을 변경 -> ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']
4. 대륙 column에 결측치가 존재 -> 결측치를 'OT'로 대체
5. 새로운 파생변수 '총 술소비량' 생성 -> 맥주소비량 + 증류주소비량 + 와인소비량
6. 새로운 파생변수 '도수' 생성 -> 소비알콜량 / 총 술소비량 * 100
7. 도수 column의 전체 평균보다 대륙별 도수 평균이 높은 대륙을 출력

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 1. csv 폴더 안에 있는 drinks.csv 파일 로드

drinks = pd.read_csv('../../csv/drinks.csv')

In [15]:
# 2. 데이터 프레임의 정보, 결측치가 존재하는가?


drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

<bound method DataFrame.sum of      country  beer_servings  spirit_servings  wine_servings  \
0      False          False            False          False
1      False          False            False          False
2      False          False            False          False
3      False          False            False          False
4      False          False            False          False
..       ...            ...              ...            ...
188    False          False            False          False
189    False          False            False          False
190    False          False            False          False
191    False          False            False          False
192    False          False            False          False

     total_litres_of_pure_alcohol  continent
0                           False      False
1                           False      False
2                           False      False
3                           False      False
4                           False      False
..                            ...        ...
188                         False      False
189                         False      False
190                         False      False
191                         False      False
192                         False      False

[193 rows x 6 columns]>

In [17]:

drinks.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [19]:
# 3. column의 이름을 변경 -> ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']

drinks.columns = ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']

In [35]:
# 4. 대륙 column에 결측치가 존재 -> 결측치를 'OT'로 대체

drinks['대륙'].fillna('OT', inplace= True)

In [38]:
# 5. 새로운 파생변수 '총 술소비량' 생성 -> 맥주소비량 + 증류주소비량 + 와인소비량

drinks['총 술 소비량'] = drinks['맥주소비량'] + drinks['증류주소비량'] + drinks['와인소비량']

In [41]:
# 6. 새로운 파생변수 '도수' 생성 -> 소비알콜량 / 총 술소비량 * 100

drinks['도수'] = (drinks['소비알콜량'] / drinks['총 술 소비량']) * 100

              국가  맥주소비량  증류주소비량  와인소비량  소비알콜량  대륙  총 술 소비량        도수
0    Afghanistan      0       0      0    0.0  AS        0       NaN
1        Albania     89     132     54    4.9  EU      275  1.781818
2        Algeria     25       0     14    0.7  AF       39  1.794872
3        Andorra    245     138    312   12.4  EU      695  1.784173
4         Angola    217      57     45    5.9  AF      319  1.849530
..           ...    ...     ...    ...    ...  ..      ...       ...
188    Venezuela    333     100      3    7.7  SA      436  1.766055
189      Vietnam    111       2      1    2.0  AS      114  1.754386
190        Yemen      6       0      0    0.1  AS        6  1.666667
191       Zambia     32      19      4    2.5  AF       55  4.545455
192     Zimbabwe     64      18      4    4.7  AF       86  5.465116

[193 rows x 8 columns]

In [52]:
# 6_1. 도수에 생긴 결측치 확인
    
    # 6_1_1. 도수의 결측치가 발생한 원인 탐색
flag = drinks['도수'].isna()

drinks[flag] # 도수 계산식에서 '총 술소비량'으로 나누는 과정에서 분모가 0인 계산과정 발생으로 결측치가 발생하였다고 추정

# 6_2 결측치를 0으로 치환

drinks[flag] = drinks[flag].fillna(0)

0      0.000000
1      1.781818
2      1.794872
3      1.784173
4      1.849530
         ...
188    1.766055
189    1.754386
190    1.666667
191    4.545455
192    5.465116
Name: 도수, Length: 193, dtype: float64

In [68]:
# 7. 도수 column의 전체 평균보다 대륙별 도수 평균이 높은 대륙을 출력

    # 7_1. 도수 column의 전체 평균 계산

mean_proof = drinks['도수'].mean()

    # 7_2. 대륙별 도수 평균 계산

mean_contient = drinks[['대륙', '도수']].groupby(['대륙']).mean()

    # 7_3. 조건에 맞는 결과 출력 #### 이 부분 항상 생각 못 하더라 !!!!!

mean_contient[mean_contient['도수'] > mean_proof]

          도수
대륙
AF  4.974072

##### 오늘의 복습점
    - 조건에 맞는 결과를 df에서 찾아 출력하는 방법
    - pd.loc[], pd.iloc[]의 사용 방법