In [1]:
import database as db

In [2]:
# database 라는 모듈 안에 있는 MyDB class 생성

db1 = db.MyDB()

In [8]:
select1 = """
    select
    *
    from
    tran_1
    """

data = db1.sql_query(select1)

In [4]:
## 커스텀하게 만든 모듈을 어떤 파일에서는 사용이 가능하게 하려면
## python 내의 환경변수를 확인

import sys

In [5]:
# 환경변수를 출력

sys.path

['c:\\Users\\USER\\Documents\\GitHub\\test_1\\Python\\24_03_20',
 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python312',
 '',
 'C:\\Users\\USER\\AppData\\Roaming\\Python\\Python312\\site-packages',
 'C:\\Users\\USER\\AppData\\Roaming\\Python\\Python312\\site-packages\\win32',
 'C:\\Users\\USER\\AppData\\Roaming\\Python\\Python312\\site-packages\\win32\\lib',
 'C:\\Users\\USER\\AppData\\Roaming\\Python\\Python312\\site-packages\\Pythonwin',
 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages']

In [6]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     --------------------------------- ------ 51.2/61.0 kB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 61.0/61.0 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.7/11.5 MB 23.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.0/11.5 MB 26.0 MB/s eta 0:00:01
   ------------ --------------------------- 3.7/11.5 MB 29.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.7/11.5 MB 33.0 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.4 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.5 MB 16.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 19.9 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 12.1 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ----- ---------------------------------- 2.3/15.5 MB 71.4 MB/s eta 0:00:01
   ------------ --------------------------- 4.7/15.5 MB 50.2 MB/s eta 0:00:01
   --------------- ------------------------ 6.2/15.5 MB 56.3 MB/s eta 0:00:01
   ------------------- -------------------- 7.6/15.5 MB 40.6 MB/s eta 0:00:01
   -------------------------- ------------- 10.4/15.5 MB 43.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.5 MB 43.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 14.9 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 16.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [7]:
import pandas as pd

In [10]:
# sql을 통해서 받아온 데이터를 표의 형태로 출력

df = pd.DataFrame(data)

df # print(df)보다 더 깔끔하게 나온다

     transaction_id   price         payment_date customer_id
0       T0000000114   50000  2019-02-01 01:37:23    HD678019
1       T0000000116  210000  2019-02-01 02:47:23    IK452215
2       T0000000117  170000  2019-02-01 04:33:46    PL542865
3       T0000000118  120000  2019-02-01 04:36:50    GD372798
4       T0000000119  180000  2019-02-01 05:25:18    IK782104
...             ...     ...                  ...         ...
4993    T0000005108  210000  2019-06-15 02:42:41    HD315748
4994    T0000005109  150000  2019-06-15 03:36:16    HI215420
4995    T0000005110   50000  2019-06-15 03:44:06    IK880102
4996    T0000005111  210000  2019-06-15 04:14:06    IK074758
4997    T0000005112   50000  2019-06-15 04:42:38    HD444151

[4998 rows x 4 columns]