# 데이터 로드

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

plt.style.use("ggplot")
plt.rc('font', family='NanumGothic')

In [2]:
customer = pd.read_csv('./data_in/customers.csv')
location = pd.read_csv('./data_in/locations.csv')
order_items = pd.read_csv('./data_in/order_items.csv')
orders = pd.read_csv('./data_in/orders.csv')
payments = pd.read_csv('./data_in/payments.csv')
product = pd.read_csv('./data_in/products.csv')
review = pd.read_csv('./data_in/reviews.csv')
seller = pd.read_csv('./data_in/sellers.csv')

In [67]:
# order_items, orders, sellers
orders.columns

Index(['Order_id', 'Customer_id', 'Order_status', 'Order_purchase_timestamp',
       'Order_delivered_carrier_date', 'Order_delivered_customer_date',
       'Order_estimated_delivery_date'],
      dtype='object')

In [76]:
location

,Geolocation_zipcode_prefix,Geolocation_lat,Geolocation_lng,Geolocation_city,Geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [68]:
order_items

,Order_id,Order_item_id,Product_id,Seller_id,Price,Freight_value
0,ORDER_75477,1,PRODUCT_23128,SELLER_0452,58.90,13.29
1,ORDER_63604,1,PRODUCT_24351,SELLER_0414,239.90,19.93
2,ORDER_05566,1,PRODUCT_20226,SELLER_1637,199.00,17.87
3,ORDER_04632,1,PRODUCT_07878,SELLER_1445,199.90,18.14
4,ORDER_61452,1,PRODUCT_03505,SELLER_0581,21.90,12.69
...,...,...,...,...,...,...
100552,ORDER_70405,1,PRODUCT_04209,SELLER_2078,299.99,43.41
100553,ORDER_62069,1,PRODUCT_08229,SELLER_1593,350.00,36.53
100554,ORDER_46632,1,PRODUCT_21462,SELLER_0528,99.90,16.95
100555,ORDER_52966,1,PRODUCT_19978,SELLER_2563,55.99,8.72
100556,ORDER_52855,1,PRODUCT_05243,SELLER_1844,43.00,12.79

In [77]:
payments

,Order_id,Payment_sequential,Payment_type,Payment_installments,Payment_value
0,ORDER_66617,1,credit_card,8,99.33
1,ORDER_86954,1,credit_card,1,24.39
2,ORDER_38852,1,credit_card,1,65.71
3,ORDER_57443,1,credit_card,8,107.78
4,ORDER_11244,1,credit_card,2,128.45
...,...,...,...,...,...
91966,ORDER_46197,1,credit_card,1,194.11
91967,ORDER_37509,1,credit_card,2,198.94
91968,ORDER_85760,1,boleto,1,363.31
91969,ORDER_35237,1,credit_card,2,96.80
91970,ORDER_61019,1,boleto,1,191.58

In [78]:
seller

        Seller_id  Seller_zipcode_prefix        Seller_city Seller_state
0     SELLER_0000                  13023           campinas           SP
1     SELLER_0001                  13844         mogi guacu           SP
2     SELLER_0002                  12914  braganca paulista           SP
3     SELLER_0003                  20920     rio de janeiro           RJ
4     SELLER_0004                  55325             brejao           PE
...           ...                    ...                ...          ...
2758  SELLER_2758                  87111            sarandi           PR
2759  SELLER_2759                  88137            palhoca           SC
2760  SELLER_2760                   4650          sao paulo           SP
2761  SELLER_2761                  96080            pelotas           RS
2762  SELLER_2762                  12051            taubate           SP

[2763 rows x 4 columns]

In [9]:
product

,Product_id,Product_category_name,Product_weight_g,Product_length_cm,Product_height_cm,Product_width_cm
0,PRODUCT_00000,perfumery,225.0,16.0,10.0,14.0
1,PRODUCT_00001,arts,1000.0,30.0,18.0,20.0
2,PRODUCT_00002,sports_leisure,154.0,18.0,9.0,15.0
3,PRODUCT_00003,home_utilities,625.0,20.0,17.0,13.0
4,PRODUCT_00004,musical_instruments,200.0,38.0,5.0,11.0
...,...,...,...,...,...,...
29466,PRODUCT_29466,furniture_decor,12300.0,40.0,40.0,40.0
29467,PRODUCT_29467,construction_tools_lighting,1700.0,16.0,19.0,16.0
29468,PRODUCT_29468,bed_bath_table,1400.0,27.0,7.0,27.0
29469,PRODUCT_29469,computers_accessories,700.0,31.0,13.0,20.0
29470,PRODUCT_29470,bed_bath_table,2083.0,12.0,2.0,7.0

In [79]:
review

,Review_id,Order_id,Review_score,Review_creation_date,Review_answer_timestamp
0,REVIEW_00000,ORDER_01674,4,2019-01-18 00:00:00,2019-01-18 21:46:59
1,REVIEW_00001,ORDER_80140,5,2019-03-10 00:00:00,2019-03-11 03:05:13
2,REVIEW_00002,ORDER_69816,5,2019-02-17 00:00:00,2019-02-18 14:36:24
3,REVIEW_00003,ORDER_24398,5,2018-04-21 00:00:00,2018-04-21 22:02:06
4,REVIEW_00004,ORDER_70366,5,2019-03-01 00:00:00,2019-03-02 10:26:53
...,...,...,...,...,...
87868,REVIEW_87298,ORDER_58840,5,2019-07-07 00:00:00,2019-07-14 17:18:30
87869,REVIEW_87299,ORDER_75162,5,2018-12-09 00:00:00,2018-12-11 20:06:42
87870,REVIEW_87300,ORDER_08690,5,2019-03-22 00:00:00,2019-03-23 09:10:43
87871,REVIEW_87301,ORDER_25681,4,2019-07-01 00:00:00,2019-07-02 12:59:13
87872,REVIEW_87302,ORDER_45326,1,2018-07-03 00:00:00,2018-07-03 21:01:49

In [39]:
total = pd.merge(order_items, orders, how= 'left', on= 'Order_id')

In [40]:
total = pd.merge(total, seller, how= 'left', on= 'Seller_id')

In [41]:
total = pd.merge(total, product, how= 'left', on= 'Product_id')

In [42]:
total.to_csv('./data_in/total_df.csv', index= False)

In [43]:
total_df = pd.read_csv('./data_in/total_df.csv')

C:\Users\SeonB2\AppData\Local\Temp\ipykernel_31212\3184106167.py:1: DtypeWarning: Columns (16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  total_df = pd.read_csv('./data_in/total_df.csv')

In [44]:
total_df['Revenue'] = total_df['Price'] * total_df['Order_item_id']

In [46]:
total_df.to_csv('./data_in/total_df.csv',index= False)

In [28]:
total_df['Revenue'] = total_df['Revenue'].map(
    lambda x: pd.to_numeric(x)
)

In [29]:
total_df['Revenue']

0          58.90
1         239.90
2         199.00
3         199.90
4          21.90
           ...
100552    299.99
100553    350.00
100554     99.90
100555     55.99
100556     43.00
Name: Revenue, Length: 100557, dtype: float64

In [47]:
total_df.drop('Unnamed: 0', axis= 1, inplace= True)

KeyError: "['Unnamed: 0'] not found in axis"

In [36]:
total_df.reset_index(drop= True)

,Order_id,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,...,Order_estimated_delivery_date,Seller_zipcode_prefix,Seller_city,Seller_state,Product_category_name,Product_weight_g,Product_length_cm,Product_height_cm,Product_width_cm,Revenue
0,ORDER_75477,1,PRODUCT_23128,SELLER_0452,58.90,13.29,CUSTOMER_58023,delivered,2018-09-13 08:59:02,2018-09-19 18:34:16,...,2018-09-29,27277,volta redonda,SP,cool_stuff,650.0,28.0,9.0,14.0,58.90
1,ORDER_63604,1,PRODUCT_24351,SELLER_0414,239.90,19.93,CUSTOMER_30341,delivered,2018-04-26 10:53:06,2018-05-04 14:35:00,...,2018-05-15,3471,sao paulo,SP,pet_shop,30000.0,50.0,30.0,40.0,239.90
2,ORDER_05566,1,PRODUCT_20226,SELLER_1637,199.00,17.87,CUSTOMER_30949,delivered,2019-01-14 14:33:31,2019-01-16 12:36:48,...,2019-02-05,37564,borda da mata,MG,furniture_decor,3050.0,33.0,13.0,33.0,199.00
3,ORDER_04632,1,PRODUCT_07878,SELLER_1445,199.90,18.14,CUSTOMER_06713,delivered,2018-02-04 13:57:51,2018-02-16 09:46:09,...,2018-03-17,87900,loanda,PR,garden_tools,3750.0,35.0,40.0,30.0,199.90
4,ORDER_61452,1,PRODUCT_03505,SELLER_0581,21.90,12.69,CUSTOMER_20396,delivered,2018-05-15 21:42:34,2018-05-17 11:05:55,...,2018-06-06,14091,ribeirao preto,SP,home_utilities,450.0,24.0,8.0,15.0,21.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100552,ORDER_70405,1,PRODUCT_04209,SELLER_2078,299.99,43.41,CUSTOMER_78196,delivered,2019-04-23 13:57:06,2019-04-25 12:09:00,...,2019-05-18,88303,itajai,SC,home_utilities,10150.0,89.0,15.0,40.0,299.99
100553,ORDER_62069,1,PRODUCT_08229,SELLER_1593,350.00,36.53,CUSTOMER_23659,delivered,2019-07-14 10:26:46,2019-07-17 08:05:00,...,2019-08-01,1206,sao paulo,SP,computers_accessories,8950.0,45.0,26.0,38.0,350.00
100554,ORDER_46632,1,PRODUCT_21462,SELLER_0528,99.90,16.95,CUSTOMER_01326,delivered,2018-10-23 17:07:56,2018-10-26 15:13:14,...,2018-11-10,80610,curitiba,PR,sports_leisure,967.0,21.0,24.0,19.0,99.90
100555,ORDER_52966,1,PRODUCT_19978,SELLER_2563,55.99,8.72,CUSTOMER_50155,delivered,2018-08-14 23:02:59,2018-08-15 19:02:53,...,2018-08-25,4733,sao paulo,SP,computers_accessories,100.0,20.0,20.0,20.0,55.99
100556,ORDER_52855,1,PRODUCT_05243,SELLER_1844,43.00,12.79,CUSTOMER_03410,delivered,2019-06-09 17:00:18,2019-06-11 14:11:00,...,2019-06-28,14940,ibitinga,SP,bed_bath_table,600.0,30.0,3.0,19.0,43.00

In [39]:
customer

,Customer_id,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state
0,CUSTOMER_00000,CUSTOMER_Unique_00000,14409,franca,SP
1,CUSTOMER_00001,CUSTOMER_Unique_00001,9790,sao bernardo do campo,SP
2,CUSTOMER_00002,CUSTOMER_Unique_00002,1151,sao paulo,SP
3,CUSTOMER_00003,CUSTOMER_Unique_00003,8775,mogi das cruzes,SP
4,CUSTOMER_00004,CUSTOMER_Unique_00004,89254,jaragua do sul,SC
...,...,...,...,...,...
87950,CUSTOMER_88083,CUSTOMER_Unique_85234,3937,sao paulo,SP
87951,CUSTOMER_88084,CUSTOMER_Unique_85235,6764,taboao da serra,SP
87952,CUSTOMER_88085,CUSTOMER_Unique_85236,60115,fortaleza,CE
87953,CUSTOMER_88086,CUSTOMER_Unique_85237,92120,canoas,RS
87954,CUSTOMER_88087,CUSTOMER_Unique_85238,6703,cotia,SP

In [38]:
total_df.to_csv('./data_in/total_df.csv', index= False)

In [42]:
payments

,Order_id,Payment_sequential,Payment_type,Payment_installments,Payment_value
0,ORDER_66617,1,credit_card,8,99.33
1,ORDER_86954,1,credit_card,1,24.39
2,ORDER_38852,1,credit_card,1,65.71
3,ORDER_57443,1,credit_card,8,107.78
4,ORDER_11244,1,credit_card,2,128.45
...,...,...,...,...,...
91966,ORDER_46197,1,credit_card,1,194.11
91967,ORDER_37509,1,credit_card,2,198.94
91968,ORDER_85760,1,boleto,1,363.31
91969,ORDER_35237,1,credit_card,2,96.80
91970,ORDER_61019,1,boleto,1,191.58

In [48]:
total_df = pd.merge(total_df, payments, how= 'left', on= 'Order_id')

In [49]:
total_df = pd.merge(total_df, customer, how= 'left', on = 'Customer_id')

In [83]:
review

,Review_id,Order_id,Review_score,Review_creation_date,Review_answer_timestamp
0,REVIEW_00000,ORDER_01674,4,2019-01-18 00:00:00,2019-01-18 21:46:59
1,REVIEW_00001,ORDER_80140,5,2019-03-10 00:00:00,2019-03-11 03:05:13
2,REVIEW_00002,ORDER_69816,5,2019-02-17 00:00:00,2019-02-18 14:36:24
3,REVIEW_00003,ORDER_24398,5,2018-04-21 00:00:00,2018-04-21 22:02:06
4,REVIEW_00004,ORDER_70366,5,2019-03-01 00:00:00,2019-03-02 10:26:53
...,...,...,...,...,...
87868,REVIEW_87298,ORDER_58840,5,2019-07-07 00:00:00,2019-07-14 17:18:30
87869,REVIEW_87299,ORDER_75162,5,2018-12-09 00:00:00,2018-12-11 20:06:42
87870,REVIEW_87300,ORDER_08690,5,2019-03-22 00:00:00,2019-03-23 09:10:43
87871,REVIEW_87301,ORDER_25681,4,2019-07-01 00:00:00,2019-07-02 12:59:13
87872,REVIEW_87302,ORDER_45326,1,2018-07-03 00:00:00,2018-07-03 21:01:49

In [45]:
# total_df = pd.merge(total_df, review, how= 'left', on= 'Order_id')

In [50]:
total_df.to_csv('./data_in/total_df.csv', index= False)

In [65]:
location

,Geolocation_zipcode_prefix,Geolocation_lat,Geolocation_lng,Geolocation_city,Geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [ ]:
total_df['']

In [ ]:
# 장기 고객 - customer_unique_id
# 판매자별 성과 분석 - seller_id
# 배송시간 비교 - order_estimated_delivery_date
# 할부사용 분석 - payment_installments
# 제품별 판매량 및 선호도 분석 - product_id
# 주문내 품목수 - order_item_id
# 고객 서비스 응답시간 - review_answer_timestamp
# 구매시간 분석 - order_purchase_timestamp

- 'Customer_unique_id' = 고객 고유 ID
- 'Seller_id' = 판매자 고유 ID
- 'Product_id' = 제품 고유 ID
- 'Order_estimated_delivery_date' = 기대 배송 날짜
- 'Order_delivered_customer_date' = 실제 배송 날짜
- 'Order_purchase_timestamp' = 구매 시간
- 'Review_answer_timestamp' = 리뷰 답변 시간
- 'Review_creation_date' : 리뷰 생성 시간
- 'Order_item_id' = 동일한 주문에 포함된 품목 수를 식별하는 일련 번호
- 'Payment_installments' = 할부 횟수
- 'Revenue' = 매출

In [61]:
columns_filter = ['Customer_unique_id', 'Seller_id', 'Product_id', 'Order_estimated_delivery_date', 'Order_delivered_customer_date', \
                  'Order_purchase_timestamp','Review_creation_date', 'Review_answer_timestamp', 'Order_item_id', 'Payment_installments', 'Revenue']

In [64]:
total_df[columns_filter].to_csv('./data_in/prep.csv', index= False)

In [80]:
prep = pd.read_csv('./data_in/prep.csv')

prep

,Customer_unique_id,Seller_id,Product_id,Order_estimated_delivery_date,Order_delivered_customer_date,Order_purchase_timestamp,Review_creation_date,Review_answer_timestamp,Order_item_id,Payment_installments,Revenue
0,CUSTOMER_Unique_56776,SELLER_0452,PRODUCT_23128,2018-09-29,2018-09-20 23:43:48,2018-09-13 08:59:02,2018-09-21 00:00:00,2018-09-22 10:57:03,1,2,58.90
1,CUSTOMER_Unique_29981,SELLER_0414,PRODUCT_24351,2018-05-15,2018-05-12 16:04:24,2018-04-26 10:53:06,2018-05-13 00:00:00,2018-05-15 11:34:13,1,3,239.90
2,CUSTOMER_Unique_30575,SELLER_1637,PRODUCT_20226,2019-02-05,2019-01-22 13:19:16,2019-01-14 14:33:31,2019-01-23 00:00:00,2019-01-23 16:06:31,1,5,199.00
3,CUSTOMER_Unique_06699,SELLER_1445,PRODUCT_07878,2018-03-17,2018-03-01 16:42:31,2018-02-04 13:57:51,2018-03-02 00:00:00,2018-03-03 10:54:59,1,3,199.90
4,CUSTOMER_Unique_20225,SELLER_0581,PRODUCT_03505,2018-06-06,2018-05-22 13:44:35,2018-05-15 21:42:34,2018-05-23 00:00:00,2018-05-24 19:00:09,1,1,21.90
...,...,...,...,...,...,...,...,...,...,...,...
105761,CUSTOMER_Unique_75913,SELLER_2078,PRODUCT_04209,2019-05-18,2019-05-10 22:56:40,2019-04-23 13:57:06,2019-05-11 00:00:00,2019-05-14 12:53:47,1,1,299.99
105762,CUSTOMER_Unique_23429,SELLER_1593,PRODUCT_08229,2019-08-01,2019-07-23 20:31:55,2019-07-14 10:26:46,2019-07-24 00:00:00,2019-07-25 09:25:29,1,1,350.00
105763,CUSTOMER_Unique_01324,SELLER_0528,PRODUCT_21462,2018-11-10,2018-10-28 12:22:22,2018-10-23 17:07:56,2018-10-29 00:00:00,2018-10-29 21:33:52,1,3,99.90
105764,CUSTOMER_Unique_49218,SELLER_2563,PRODUCT_19978,2018-08-25,2018-08-16 21:59:40,2018-08-14 23:02:59,2018-08-17 00:00:00,2018-08-18 12:24:05,1,3,55.99
105765,CUSTOMER_Unique_03405,SELLER_1844,PRODUCT_05243,2019-06-28,2019-06-14 17:56:26,2019-06-09 17:00:18,2019-06-15 00:00:00,2019-06-17 21:27:09,1,1,43.00

In [82]:
prep['Order_purchase_timestamp'].map(
    lambda x : x.(format= '%Y%d%m')
)

AttributeError: 'str' object has no attribute 'dt'

In [3]:
try_2 = pd.read_csv('./data_in/total_df.csv')

try_2

C:\Users\SeonB2\AppData\Local\Temp\ipykernel_31212\949764392.py:1: DtypeWarning: Columns (16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  try_2 = pd.read_csv('./data_in/total_df.csv')

,Order_id,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,...,Customer_city,Customer_state,Payment_sequential,Payment_type,Payment_installments,Payment_value,Review_id,Review_score,Review_creation_date,Review_answer_timestamp
0,ORDER_75477,1,PRODUCT_23128,SELLER_0452,58.90,13.29,CUSTOMER_58023,delivered,2018-09-13 08:59:02,2018-09-19 18:34:16,...,campos dos goytacazes,RJ,1,credit_card,2,72.19,REVIEW_45875,5.0,2018-09-21 00:00:00,2018-09-22 10:57:03
1,ORDER_63604,1,PRODUCT_24351,SELLER_0414,239.90,19.93,CUSTOMER_30341,delivered,2018-04-26 10:53:06,2018-05-04 14:35:00,...,santa fe do sul,SP,1,credit_card,3,259.83,REVIEW_24615,4.0,2018-05-13 00:00:00,2018-05-15 11:34:13
2,ORDER_05566,1,PRODUCT_20226,SELLER_1637,199.00,17.87,CUSTOMER_30949,delivered,2019-01-14 14:33:31,2019-01-16 12:36:48,...,para de minas,MG,1,credit_card,5,216.87,REVIEW_03775,5.0,2019-01-23 00:00:00,2019-01-23 16:06:31
3,ORDER_04632,1,PRODUCT_07878,SELLER_1445,199.90,18.14,CUSTOMER_06713,delivered,2018-02-04 13:57:51,2018-02-16 09:46:09,...,varzea paulista,SP,1,credit_card,3,218.04,REVIEW_49155,5.0,2018-03-02 00:00:00,2018-03-03 10:54:59
4,ORDER_61452,1,PRODUCT_03505,SELLER_0581,21.90,12.69,CUSTOMER_20396,delivered,2018-05-15 21:42:34,2018-05-17 11:05:55,...,uberaba,MG,1,boleto,1,34.59,REVIEW_20134,4.0,2018-05-23 00:00:00,2018-05-24 19:00:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105761,ORDER_70405,1,PRODUCT_04209,SELLER_2078,299.99,43.41,CUSTOMER_78196,delivered,2019-04-23 13:57:06,2019-04-25 12:09:00,...,sao luis,MA,1,boleto,1,343.40,REVIEW_42561,5.0,2019-05-11 00:00:00,2019-05-14 12:53:47
105762,ORDER_62069,1,PRODUCT_08229,SELLER_1593,350.00,36.53,CUSTOMER_23659,delivered,2019-07-14 10:26:46,2019-07-17 08:05:00,...,curitiba,PR,1,boleto,1,386.53,REVIEW_19211,5.0,2019-07-24 00:00:00,2019-07-25 09:25:29
105763,ORDER_46632,1,PRODUCT_21462,SELLER_0528,99.90,16.95,CUSTOMER_01326,delivered,2018-10-23 17:07:56,2018-10-26 15:13:14,...,sao paulo,SP,1,credit_card,3,116.85,REVIEW_33181,5.0,2018-10-29 00:00:00,2018-10-29 21:33:52
105764,ORDER_52966,1,PRODUCT_19978,SELLER_2563,55.99,8.72,CUSTOMER_50155,delivered,2018-08-14 23:02:59,2018-08-15 19:02:53,...,vinhedo,SP,1,credit_card,3,64.71,REVIEW_44568,5.0,2018-08-17 00:00:00,2018-08-18 12:24:05
105765,ORDER_52855,1,PRODUCT_05243,SELLER_1844,43.00,12.79,CUSTOMER_03410,delivered,2019-06-09 17:00:18,2019-06-11 14:11:00,...,botucatu,SP,1,credit_card,1,55.79,REVIEW_81368,5.0,2019-06-15 00:00:00,2019-06-17 21:27:09

In [36]:
filter_columns =['Review_id', 'Review_score', 'Review_creation_date', 'Review_answer_timestamp']

In [38]:
try_2[filter_columns]

KeyError: False

In [53]:
total_df.isna().sum()

Order_id                         0
Order_item_id                    0
Product_id                       0
Seller_id                        0
Price                            0
Freight_value                    0
Customer_id                      0
Order_status                     0
Order_purchase_timestamp         0
Order_delivered_carrier_date     0
Order_delivered_customer_date    0
Order_estimated_delivery_date    0
Seller_zipcode_prefix            0
Seller_city                      0
Seller_state                     0
Product_category_name            0
Product_weight_g                 0
Product_length_cm                0
Product_height_cm                0
Product_width_cm                 0
Revenue                          0
Payment_sequential               0
Payment_type                     0
Payment_installments             0
Payment_value                    0
Customer_unique_id               0
Customer_zipcode_prefix          0
Customer_city                    0
Customer_state                   0
dtype: int64