# 데이터 로드

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

plt.style.use("ggplot")
plt.rc('font', family='NanumGothic')

In [2]:
customer = pd.read_csv('./data_in/customers.csv')
location = pd.read_csv('./data_in/locations.csv')
order_items = pd.read_csv('./data_in/order_items.csv')
orders = pd.read_csv('./data_in/orders.csv')
payments = pd.read_csv('./data_in/payments.csv')
product = pd.read_csv('./data_in/products.csv')
review = pd.read_csv('./data_in/reviews.csv')
seller = pd.read_csv('./data_in/sellers.csv')

In [ ]:
# order_items, orders, sellers
orders

In [ ]:
order_items

In [ ]:
seller

In [9]:
product

,Product_id,Product_category_name,Product_weight_g,Product_length_cm,Product_height_cm,Product_width_cm
0,PRODUCT_00000,perfumery,225.0,16.0,10.0,14.0
1,PRODUCT_00001,arts,1000.0,30.0,18.0,20.0
2,PRODUCT_00002,sports_leisure,154.0,18.0,9.0,15.0
3,PRODUCT_00003,home_utilities,625.0,20.0,17.0,13.0
4,PRODUCT_00004,musical_instruments,200.0,38.0,5.0,11.0
...,...,...,...,...,...,...
29466,PRODUCT_29466,furniture_decor,12300.0,40.0,40.0,40.0
29467,PRODUCT_29467,construction_tools_lighting,1700.0,16.0,19.0,16.0
29468,PRODUCT_29468,bed_bath_table,1400.0,27.0,7.0,27.0
29469,PRODUCT_29469,computers_accessories,700.0,31.0,13.0,20.0
29470,PRODUCT_29470,bed_bath_table,2083.0,12.0,2.0,7.0

In [5]:
total = pd.merge(order_items, orders, how= 'left', on= 'Order_id')

In [6]:
total = pd.merge(total, seller, how= 'left', on= 'Seller_id')

In [10]:
total = pd.merge(total, product, how= 'left', on= 'Product_id')

In [11]:
total.to_csv('./data_in/total_df.csv')