In [1]:
# 경고메시지(warning) 미표시
import warnings

warnings.filterwarnings('ignore')

# 웹에서 주문수를 분석

In [2]:
import pandas as pd

### 1. 데이터를 읽기

In [14]:
# customer_master.csv : 쇼핑몰 사이트의 고객 정보
# item_master.csv : 상품데이터

path_data_in = './Data_in/'

cs_m = pd.read_csv(f'{path_data_in}customer_master.csv')

item_m = pd.read_csv(f'{path_data_in}item_master.csv')

trans_1 = pd.read_csv(f'{path_data_in}transaction_1.csv')

trans_2 = pd.read_csv(f'{path_data_in}transaction_2.csv')

trans_d_1 = pd.read_csv(f'{path_data_in}transaction_detail_1.csv')

trans_d_2 = pd.read_csv(f'{path_data_in}transaction_detail_2.csv')

In [81]:
# 데이터들의 구조 파악

cs_m.info()

# trans_1.head()

# trans_d_1.head()

# trans_2.head()

# trans_d_2.head()

# item_m.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        5000 non-null   object
 1   customer_name      5000 non-null   object
 2   registration_date  5000 non-null   object
 3   email              5000 non-null   object
 4   gender             5000 non-null   object
 5   age                5000 non-null   int64
 6   birth              5000 non-null   object
 7   pref               5000 non-null   object
dtypes: int64(1), object(7)
memory usage: 312.6+ KB

### 2. 데이터를 결합(유니언) 하기

In [49]:
trans_total = pd.concat([trans_1, trans_2], ignore_index= True)

In [50]:
# 확인용 코드

trans_total

      detail_id transaction_id item_id  quantity
0             0    T0000000113    S005         1
1             1    T0000000114    S001         1
2             2    T0000000115    S003         1
3             3    T0000000116    S005         1
4             4    T0000000117    S002         2
...         ...            ...     ...       ...
7139       7139    T0000006894    S004         1
7140       7140    T0000006895    S002         1
7141       7141    T0000006896    S001         2
7142       7142    T0000006897    S002         1
7143       7143    T0000006898    S002         1

[7144 rows x 4 columns]

In [74]:
# 결합 확인을 위한 코드
    # len() == 길이 확인 ### 근데 이걸 왜 하지

print(bool(
    len(trans_1) + len(trans_2) == len(trans_total) # trans 데이터들을 합친 column의 길이가 맞는 지 확인
    ),
    len(trans_total), # total의 column 수를 확인하기 위해 사용
)

True 6786

### 3. 매출 데이터끼리 결합(조인)하기

In [79]:
# detail 데이터끼리 union 결합

trans_d_total = pd.concat([trans_d_1, trans_d_2], ignore_index= True)

print(bool(
    len(trans_d_1) + len(trans_d_2) == len(trans_d_total) # trans_d 데이터들을 합친 column의 길이가 맞는 지 확인
    ),
    len(trans_d_total) # total_d의 column 수를 확인하기 위해 사용
    )

True 7144

In [69]:
# trans 데이터와 trans_d 데이터를 transaction_id를 기준으로 join 결합

trans = pd.merge(trans_total, trans_d_total, how= 'left', on= 'transaction_id')
trans.head()

,transaction_id,price,payment_date,customer_id,detail_id,item_id,quantity
0,T0000000113,210000,2019-02-01 01:36:57,PL563502,0,S005,1
1,T0000000114,50000,2019-02-01 01:37:23,HD678019,1,S001,1
2,T0000000115,120000,2019-02-01 02:34:19,HD298120,2,S003,1
3,T0000000116,210000,2019-02-01 02:47:23,IK452215,3,S005,1
4,T0000000117,170000,2019-02-01 04:33:46,PL542865,4,S002,2

### 4. 마스터데이터를 결합(조인)하기

In [87]:
# cs_m 데이터와 trans 데이터를 customer_id를 기준으로 join

df = pd.merge(cs_m, trans, how= 'right', on= 'customer_id')

# df 데이터와 item_m 데이터를 item_id를 기준으로 join

df = pd.merge(df, item_m, how= 'left', on= 'item_id')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7144 entries, 0 to 7143
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7144 non-null   object
 1   customer_name      7144 non-null   object
 2   registration_date  7144 non-null   object
 3   email              7144 non-null   object
 4   gender             7144 non-null   object
 5   age                7144 non-null   int64
 6   birth              7144 non-null   object
 7   pref               7144 non-null   object
 8   transaction_id     7144 non-null   object
 9   price              7144 non-null   int64
 10  payment_date       7144 non-null   object
 11  detail_id          7144 non-null   int64
 12  item_id            7144 non-null   object
 13  quantity           7144 non-null   int64
 14  item_name          7144 non-null   object
 15  item_price         7144 non-null   int64
dtypes: int64(5), object(11)
memory usage: 893.1+ KB

### 5. 필요한 데이터 칼럼을 만들기

### 6. 데이터를 검산하기

### 7. 각종 통계량을 파악하기

### 8. 월별로 데이터를 집계해보기

### 9. 월별, 상품별로 데이터를 집계해보기

### 10. 상품별 매출추이를 가시화해 보기