In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../../csv/uriage.csv')

In [5]:
df.head() # NaN 존재, item_name에 공백, 대소문자 문제
                        # 이 두개 == 정형화

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

#### uriage 데이터에서 문제점
1. item_name의 대/소문자 문제
    - 모든 문자를 대/소문자로 변환
    - upper(), lower()
2. item_name에 공백 존재
    - 공백을 지우기
    - replace()
    - strip()
3. 결측치 존재

In [12]:
# df.item_name의 문자들을 모두 대문자로 변환

df.item_name[2]

'상 품 a'

In [13]:
# 우선 백업

df2 = df.copy()

In [18]:
# 가장 기본적인 방법인 for문 사용
    # 기본 골자 구상, 반복해야 할 위치 확인

df2.loc[2, 'item_name'] = \
    df2.loc[2, 'item_name'].upper()  # 기본 골자가 이것 (series나 array엔 upper() 적용 못 하기에 각 원소 추출해서 다시 대입해주기)

'상 품 A'

In [19]:
# for문 작성

for i in range(len(df2)): # i에 대입되는 데이터 == df2의 index 값
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].upper()

In [23]:
# 확인

df2.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [26]:
# map() 함수 사용
    # 1차원 자료형 구조 데이터에서 각 데이터들을 하나씩 추출하여 작업(함수)

    # base(python 내장 함수) : map( 함수 , 1차원 리스트명 )
    # 

_list = [1, 2, 3, 4]

# map()과 lambda의 결합

map(
    lambda x : x + 1,
    _list
)

# map()과 일반 함수의 결합

def change(x):
    return x + 1

map(
    change, # 함수 명만 사용해야 함 :> (어차피 인자는 뒤의 1차원 리스트의 원소로 받아오거든)
    _list
)

[2, 3, 4, 5]

##### lambda 함수
- 일반 함수는 선언(def) -> 호출 2 가지의 과정으로 나눠지는데
- lambda 함수는 선언함과 동시에 호출

- lambda 매개변수명 : 실행이 될 코드
- 일반 함수로 사용하기엔 너무 간단한 작업은 lambda로 진행