In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../csv/uriage.csv')

In [4]:
df.head() # NaN 존재, item_name에 공백, 대소문자 문제
                        # 이 두개 == 정형화

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

#### uriage 데이터에서 문제점
1. item_name의 대/소문자 문제
    - 모든 문자를 대/소문자로 변환
    - upper(), lower()
2. item_name에 공백 존재
    - 공백을 지우기
    - replace()
    - strip()
3. 결측치 존재

In [5]:
# df.item_name의 문자들을 모두 대문자로 변환

df.item_name[2].upper() # upper()는 문자열 함수이기에 series에선 동작하지 않음 (array에 사용이 안됨)

'상 품 A'

In [6]:
# 우선 백업

df2 = df.copy()

In [7]:
# 가장 기본적인 방법인 for문 사용
    # 기본 골자 구상, 반복해야 할 위치 확인

df2.loc[2, 'item_name'] = \
    df2.loc[2, 'item_name'].upper()  # 기본 골자가 이것 (series나 array엔 upper() 적용 못 하기에 각 원소 추출해서 다시 대입해주기)

In [8]:
# for문 작성

for i in range(len(df2)): # i에 대입되는 데이터 == df2의 index 값
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].upper()

In [9]:
# 확인

df2.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [10]:
# map() 함수 사용
    # 1차원 자료형 구조 데이터에서 각 데이터들을 하나씩 추출하여 작업(함수)

    # base(python 내장 함수) : map( 함수 , 1차원 리스트명 )

_list = [1, 2, 3, 4]

# map()과 lambda의 결합
list(
    map(
        lambda x : x + 1,
        _list
    )
)
# map()과 일반 함수의 결합

def change(x):
    return x + 1

list(
    map(
        change, # 함수 명만 사용해야 함 :> (어차피 인자는 뒤의 1차원 리스트의 원소로 받아오거든)
        _list
    )
)

[2, 3, 4, 5]

##### lambda 함수
- 일반 함수는 선언(def) -> 호출 2 가지의 과정으로 나눠지는데
- lambda 함수는 선언함과 동시에 호출

- lambda 매개변수명 : 실행이 될 코드
- 일반 함수로 사용하기엔 너무 간단한 작업은 lambda로 진행

In [11]:
## Series에 내장된 map() 함수
    # Series, DataFrame에 존재하는 함수는 Class 안에 존재하는 함수로, Class 자체 변수를 받아오기 때문에 data를 집어 넣어 줄 필요가 없다
    # __init__으로 self 인자를 받아와서 쓰는 Class 내장 함수들과 같은 거라고 생각하면 된다.
    # python 내장 map()은 map(func, data) 구조였지만 Class 내장 함수는 map(func) 구조를 띄고 있다.

df3 = df.copy()

In [12]:
# map + lambda

df3['item_name'].map(
    lambda x : x.upper() # df3['item_name']은 list를 가져오는 것이고, 이 list를 map으로 가져오면 안에 들어가는 data들은 str이기 때문에 upper() 사용 가능
)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [13]:
# map + 일반 함수

def change2(x):
    result = x.upper()
    return result

df3['item_name'].map(
    change2
) # 출력이 되고 있으니 다시 df3['item_name']에 담아준다

df3['item_name'] = df3['item_name'].map(
    change2
)

In [14]:
# strip('x') == 문자열의 시작과 끝부분의 x를 제거하는 함수, default == 공백

df2['item_name'][1].strip()

'상 품 S'

In [15]:
# replace('x', 'y') == 문자열 중 x를 y로 치환하는 함수 

df2['item_name'][1].replace(' ', '') # 정상적으로 동작 !

df2['item_name'].replace(' ','') # 여기에서의 replace()는 Series라는 Class 안에 존재하는 함수이기에 인자로 Series의 원소들을 받는다.
                                 # 따라서 ' '라는 원소를 찾아서 ''로 바꿔주는 것인데, 문자열 각각을 인자로 받는 것이 아니라 '상 품 S'를 받는다.
                                 # 'item_name'에 ' '원소가 있다면 바꿔줬을 것임

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [16]:
## 반복문을 이용하여 Series 안에 데이터들의 공백을 제거

for i in range(len(df2['item_name'])):
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].replace(' ', '')

In [17]:
df2['item_name']

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [18]:
## df3의 item_name 데이터를 map() 함수를 이용하여 공백을 제거

df3['item_name'] # 고쳐야 할 데이터 확인

df3['item_name'] = df3['item_name'].map(
    lambda x : x.replace(' ', '')
)

In [19]:
df3['item_name'] # 확인용

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [20]:
# Series 데이터에서 문자열 함수를 호출

test = df['item_name'].str.upper().str.replace(' ','') ## str을 2번 쓴 이유는 str이라는 Pandas.Series에 존재하는 함수들 폴더에서 문자열 함수인 str을 사용한 것임.
                                                        # replace() 라는 문자열 함수를 사용하기 위해선 다시 str로 문자열로 다시 만들어서 사용해야 함. 아니면 Series의 replace()가 작동됨
test

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

- 결측치를 다른 값으로 대체
1. 상품명에 따라 상품 가격들이 고정
2. 결측치를 상품명에 맞춰서 해당 상품의 결측치가 아닌 상품 가격을 결측치에 대체

    - ex) 상품 A인 데이터 중 item_price가 결측치가 아닌 데이터의 평균 값을 구하고 해당 평균 값을 상품 A인 데이터 중 item_price가 결측치인 부분에 대입

In [21]:
## 상품 A인 데이터만 출력
    # 인덱스의 조건식 (item_name == '상품 A')

flag = df2['item_name'] == '상품A'
df2.loc[flag]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
9     2019-01-28 10:47       상품A       100.0           김태윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[139 rows x 4 columns]

In [22]:
import numpy as np

In [23]:
## item_price가 결측치인 데이터들만 출력
    # 인덱스 조건식 (item_price가 결측치인)

df2['item_price'] == np.nan # 결측치 == 결측치 ? 를 물어보고 있기에 False 나온다 # 결측치가 같냐고 물어보면 False가 나오기 때문
                                # 결측치는 연산이 되지 않기 때문에 비교 연산자를 사용해도 False 출력

flag_null = df2['item_price'].isna()

In [24]:
df2.loc[flag_null]

         purchase_date item_name  item_price customer_name
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
14    2019-06-11 12:57       상품A         NaN           김재호
...                ...       ...         ...           ...
2987  2019-01-04 13:05       상품K         NaN           김정훈
2990  2019-07-16 11:34       상품O         NaN           김서준
2992  2019-07-27 10:13       상품C         NaN           김동하
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주

[387 rows x 4 columns]

In [25]:
## item_name이 상품 A이면서 item_price가 결측치인 데이터를 출력
    ## 인덱스의 조건식 : item_name == '상품A' (flag)
    ##                  item_price.isna() == True (flag_null)

df2.loc[flag & flag_null] # 인덱스의 조건식들이 적용된 df에다 & 하는게 아니라 인덱스 조건식들에 & 묶어줘야해 :> 이거 실수함

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
14    2019-06-11 12:57       상품A         NaN           김재호
300   2019-04-06 11:06       상품A         NaN           김태인
361    2019-01-21 3:33       상품A         NaN           김진우
667   2019-03-16 17:23       상품A         NaN           김주원
838    2019-06-24 5:06       상품A         NaN           김시호
844    2019-03-15 9:14       상품A         NaN           김강현
957   2019-07-19 14:12       상품A         NaN           김서윤
1260  2019-01-15 22:59       상품A         NaN           김하진
1394  2019-07-07 21:49       상품A         NaN           김은우
1474   2019-04-11 2:22       상품A         NaN           김선우
1892   2019-07-31 1:32       상품A         NaN           김윤찬
1937   2019-02-13 7:28       상품A         NaN           김시환
1977   2019-02-28 4:11       상품A         NaN           김서준
2063  2019-05-25 12:51       상품A         NaN           김재민
2278   2019-07-14 3:39       상품A         NaN           김시우
2636  2019-03-09 14:20       상품A         NaN           김우찬
2669  2019-03-05 20:21       상품A         NaN           김주혁
2732  2019-01-28 22:13       상품A         NaN           김윤호
2821  2019-06-21 11:09       상품A         NaN           김승훈

In [27]:
## item_name이 상품 A이면서 item_price가 결측치가 아닌 데이터를 출력
    ## 인덱스의 조건식 : item_name == '상품A' (flag)
    ##                  item_price.isna() == False (flag_null의 부정)

# flag_null의 부정

# not(flag_null) # Series 형태의 데이터엔 사용할 수 없음, not()은 단일 데이터만 인자로 받을 수 있음

# ~flag_null # ~ 연산자 == 0과 1을 비틀어 줌 (1 값은 0으로, 0 값은 1로 바꿔줌
            # True == 1, False == 0이기에 바뀜, 따라서 bool 데이터에서 부정형 연산자로 사용이 가능)

df2.loc[flag & ~flag_null]

df2.loc[flag & -flag_null] # 도 됨 (근데 왜 됨 ??)

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[117 rows x 4 columns]

In [28]:
## 상품A이고 가격이 결측치가 아닌 데이터의 평균을 구한다

mean_data = df2.loc[flag & ~flag_null, 'item_price'].mean()

In [34]:
# mean_data로 상품A이고 가격이 결측치인 데이터의 결측치를 대체

    # fillna()를 이용하여 결측치에 데이터를 대입

df2.loc[flag & flag_null].fillna(mean_data)

    # Series 데이터에 특정 데이터를 대입

df2.loc[flag & flag_null, 'item_price'] = mean_data

In [35]:
df2.loc[flag & flag_null] # 확인

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A       100.0           김유찬
4      2019-04-22 3:09       상품A       100.0           김강현
6     2019-05-18 19:16       상품A       100.0           김재준
14    2019-06-11 12:57       상품A       100.0           김재호
300   2019-04-06 11:06       상품A       100.0           김태인
361    2019-01-21 3:33       상품A       100.0           김진우
667   2019-03-16 17:23       상품A       100.0           김주원
838    2019-06-24 5:06       상품A       100.0           김시호
844    2019-03-15 9:14       상품A       100.0           김강현
957   2019-07-19 14:12       상품A       100.0           김서윤
1260  2019-01-15 22:59       상품A       100.0           김하진
1394  2019-07-07 21:49       상품A       100.0           김은우
1474   2019-04-11 2:22       상품A       100.0           김선우
1892   2019-07-31 1:32       상품A       100.0           김윤찬
1937   2019-02-13 7:28       상품A       100.0           김시환
1977   2019-02-28 4:11       상품A       100.0           김서준
2063  2019-05-25 12:51       상품A       100.0           김재민
2278   2019-07-14 3:39       상품A       100.0           김시우
2636  2019-03-09 14:20       상품A       100.0           김우찬
2669  2019-03-05 20:21       상품A       100.0           김주혁
2732  2019-01-28 22:13       상품A       100.0           김윤호
2821  2019-06-21 11:09       상품A       100.0           김승훈

In [57]:
# for문을 사용해 모든 상품들에 위 과정 적용

    ## item_name 데이터들의 고유한 값들을 출력 (중복 데이터들을 제외한 값들)
        # 함수를 이용 -> 고유한(unique)

df2['item_name'].unique()

        # 집합의 형태로 데이터를 변환
        # {} -> dict, set(집합)

list(set(df2['item_name']))

        # 빈도 수를 체크하는 함수
        # 값(value) + 갯수(count) -> value_counts

df2['item_name'].value_counts().index

        # for문을 사용해 일일히 뽑기
            # item_name에 중복 데이터를 제거한 새로운 리스트를 출력


name_list = list(df2['item_name'])

#### 내가 한 것

                # 새로운 빈 list(== result) 생성
result = []
                # item_name의 값들을 기준으로 반복문을 실행(i)
for i in name_list:
                # result에 i가 존재하지 않는가?
        if i not in result:
                        # result에 i를 추가
                result.append(i)
                        # result 출력

result.sort()
result

['상품A',
 '상품B',
 '상품C',
 '상품D',
 '상품E',
 '상품F',
 '상품G',
 '상품H',
 '상품I',
 '상품J',
 '상품K',
 '상품L',
 '상품M',
 '상품N',
 '상품O',
 '상품P',
 '상품Q',
 '상품R',
 '상품S',
 '상품T',
 '상품U',
 '상품V',
 '상품W',
 '상품X',
 '상품Y',
 '상품Z']

In [60]:
# case1 (비교 연산자 -> 포함(in)되어 있지 않다(not))

name_list = list(df2['item_name'])

#### 내가 한 것과 같음

                # 새로운 빈 list(== result) 생성
result = []
                # item_name의 값들을 기준으로 반복문을 실행(i)
for i in name_list:
                # result에 i가 존재하지 않는가?
        if i not in result:
                        # result에 i를 추가
                result.append(i)
                        # result 출력

result.sort()
print(result)

['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I', '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R', '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z']

In [58]:
# case2 (list의 내장 함수 이용 : count())
    # count() == list 안에 특정 데이터의 개수를 출력

                # 새로운 빈 list(== result) 생성
result = []
                # item_name의 값들을 기준으로 반복문을 실행(i)
for i in name_list:
                # result에 i가 존재하지 않는가?
        if result.count(i) == 0: # not(result.count): 도 됨
                        # result에 i를 추가
                result.append(i)
                        # result 출력

result.sort()
print(result)

['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I', '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R', '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z']

In [59]:
# case3 ( list 내장함수 중 index() 사용 )
    # index() == 특정 데이터의 위치를 출력 -> 데이터가 존재하지 않으면 error 발생

                # 새로운 빈 list(== result) 생성
result = []
                # item_name의 값들을 기준으로 반복문을 실행(i)
for i in name_list:
                        # result에 i가 존재하지 않는가?
                        # result에 i를 추가
        try: # 시도할 코드
                result.index(i)
        except: # 시도할 코드가 error 발생시 시도할 코드
                # 일반적으론 error 발생 시 예외처리
                result.append(i)

                        # result 출력

result.sort()
print(result)

['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I', '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R', '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z']

In [63]:
item_list = df2['item_name'].unique()

for item in item_list: # item 변수를 이용하여 인덱스의 조건식 생성
    flags = df2['item_name'] == item # 상품A부터 상품Z까지의 조건식을 반복적으로 생성
    flag_null = df2['item_price'].isna()

# flag 조건식과 flag_null의 부정 조건식에 item_price의 평균
    mean_data = df2.loc[flags & ~flag_null, 'item_price'].mean()
    # mean_data를 flags 조건식과 flag_null 조건식의 'item_price'

    df2.loc[flags & flag_null, 'item_price'] = mean_data

In [64]:
df2.isna().sum() # 결측치가 대체되었는 지 확인

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [65]:
df2[['item_name', 'item_price']].groupby(['item_name']).mean() # 실제로 결측치가 잘 대체되었는 지 확인

           item_price
item_name
상품A             100.0
상품B             200.0
상품C             300.0
상품D             400.0
상품E             500.0
상품F             600.0
상품G             700.0
상품H             800.0
상품I             900.0
상품J            1000.0
상품K            1100.0
상품L            1200.0
상품M            1300.0
상품N            1400.0
상품O            1500.0
상품P            1600.0
상품Q            1700.0
상품R            1800.0
상품S            1900.0
상품T            2000.0
상품U            2100.0
상품V            2200.0
상품W            2300.0
상품X            2400.0
상품Y            2500.0
상품Z            2600.0