In [1]:
import pandas as pd
df = pd.DataFrame([{"country":"한국","population":500},{"country":"미국","population":450},{"country":"싱가폴","population":705},
                   {"country":"호주","population":878},{"country":"베트남","population":660},{"country":"대만","population":808}])
df

  country  population
0      한국         500
1      미국         450
2     싱가폴         705
3      호주         878
4     베트남         660
5      대만         808

In [2]:
flag = df['country'] == '한국'

flag

0     True
1    False
2    False
3    False
4    False
5    False
Name: country, dtype: bool

In [3]:
df.loc[flag]

  country  population
0      한국         500

In [4]:
df[~flag]

  country  population
1      미국         450
2     싱가폴         705
3      호주         878
4     베트남         660
5      대만         808