In [2]:
## 문자열 내장 함수

a = 'Hello world  '

In [3]:
## 문자열을 모두 대문자로 변경

print(a.upper())

## 문자열을 모두 소문자로 변경

print(a.lower())

## 대문자를 소문자로, 소문자를 대문자로 변경

print(a.swapcase())

## 단어의 첫 글자만 대문자로 변경

print(a.title())

## 문자열에서 좌, 우의 공백을 제거 (벗겨내다)

'''strip()''' # 인자를 기본값()을 사용 => 공백 제거
                # () 안의 값을 기준으로 제거

a.strip() # 좌, 우 공백 제거 -> '\n'(enter), '\t'(tab) 과 같은 문자들 역시 공백으로 표시되기에 자주 사용함
a.lstrip() # 좌 공백 제거
a.rstrip() # 우 공백 제거

test_txt = '\n \t text \t \n'
print(test_txt)
test_txt = test_txt.strip()
print(test_txt)

# price를 숫자로 바꾸기

price = '$100'
price.lstrip('$')
price = int(price.lstrip('$'))
print(price, type(price))

HELLO WORLD
hello world
hELLO WORLD
Hello World

 	 text

text
100 <class 'int'>

In [11]:
# strip() 함수는 문자가 시작되기 전,문자가 끝나고 나서 데이터들을 제거
    # 문자열 사이에 데이터들을 변경해주기 위한 함수가 필요
    # replace(변경할 문자열, 치환할 문자열)

a.replace('Hello', 'Hi')

'Hi world  '

In [12]:
## 공백을 제거할 이유로 replace() 사용

a.replace(' ','')

'Helloworld'

In [13]:
test_str = 'Hello \n World'
print(test_str)

Hello
 World

In [15]:
print(test_str.strip()) # 문자열 사이의 공백(사실은 \n)이 제거되지 않음

print(test_str.replace('\n',''))

Hello
 World
Hello  World

In [25]:
# 문자열을 list로 변경

a = 'test test2 test3'
b = 'test test2 test3'
a = list(a) # 문자 하나하나를 각 원소로 하여 리스트가 생성됨
print(a)

# 문자열에서 특정 문자로 글자를 나눠서 list로 생성
    # split()

print(b.split(' '))


c = '20/30/40'
print(c.split('/'))

['t', 'e', 's', 't', ' ', 't', 'e', 's', 't', '2', ' ', 't', 'e', 's', 't', '3']
['test', 'test2', 'test3']
['20', '30', '40']

In [41]:
# 문자열에서 비교 연산을 하는 함수

query = "select * from table"
query2 = '''
    SELECT
    *
    from
    table
'''  # 내가 아는 그 뭐냐 여러 라인을 걸쳐 str로 만들어 주는 방법

# query, query2가 select로 시작하는가?

print(query2[:6] == 'select') # \n, 공백, 대문자 문제 존재

print(query2.strip()[:6] == 'select') # select가 대문자인 문제 존재

print(query2.strip().lower()[:6] == 'select') # case 1

print(query2.lower().split()[0] == 'select') # case 2

print(query2.lower().strip().startswith('select')) # case 3

False
False
False
True
True
True