# 01. Overview

#### 가설
* 가설1 : 거주 인구가 많은 지역에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설2 : 직장인이 많은 지역에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설3 : 유동인구가 많은 지역에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설4 : 아 집가고싶다.
* 가설5 : 역 근처에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설6 : 주꾸미 볶음 먹고싶다.
* 가설7 : 양꼬치 먹고싶다.
* 가설8 : 지대가 비싼 지역에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설9 : 대학교 근처에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설10 : 스타벅스 커피는 진짜 개맛없다.
* 가설11 : 인근에 카페가 많은 지역에 스타벅스 매장이 많이 입지해 있을 것이다.
* 가설12 : 경쟁 커피 프랜차이즈 점포가 있다면 스타벅스 매장이 근처에 위치해 있을 것이다.

* 스타벅스 입지전략을 분석 : 가설 1, 2에 대한 검증 진행 // 돌돌1,2

#### 데이터 수집

* 1. 스타벅스 사이트에서 서울시에 존재하는 매장의 정보 수집
    * 매장명, 위도, 경도, 매장타입, 주소, 전화번호
    * https://www.starbucks.co.kr/
* 2. 서울시 주민등록 인구 (구별) 통계 정보 수집
    * 서울시 열린데이터 광장
        * https://data.seoul.go.kr/dataList/419/S/2/datasetView.do
* 3. 서울시 사업체 현황(산업 대분류별 / 동별) 통계 정보
    * 서울시 열린데이터 광장
        * https://data.seoul.go.kr/dataList/104/S/2/datasetView.do

## 02. 데이터 수집

# 02-1 서울시 스타벅스 매장 목록 데이터 수집 : 크롤링


    * https://www.istarbucks.co.kr

In [85]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

service = Service()


options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)

In [86]:
url = 'https://www.starbucks.co.kr/store/store_map.do?disp=locale'

driver.get(url)

In [87]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 

seoul_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a'
try : WebDriverWait(driver,20).until(EC.element_to_be_clickable\
                               ((By.CSS_SELECTOR, seoul_btn))).click() # 20초 내로 실행되지 않는다면 TimeoutError 
    
except : 
    print('해당 페이지가 20초 내로 열리지 않았음')

In [88]:
# '전체' 버튼 요소를 찾아 클릭

all_btn = '#mCSB_2_container > ul > li:nth-child(1) > a'

try : WebDriverWait(driver,20).until(EC.element_to_be_clickable\
                               ((By.CSS_SELECTOR, all_btn))).click() # 20초 내로 실행되지 않는다면 TimeoutError 
    
except : 
    print('해당 페이지가 20초 내로 열리지 않았음')

In [93]:
html = driver.page_source

In [94]:
# BeautifulSoup로 파서 생성

soup = bs(html, 'html.parser')

starbucks_soup_list = soup.select('li.quickResultLstCon')
print(len(starbucks_soup_list))

611

In [96]:
starbucks_soup_list[10]

<li class="quickResultLstCon" data-code="3588" data-hlytag="null" data-index="10" data-lat="37.488008" data-long="127.102650" data-name="수서역R" data-storecd="1389" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="수서역R" data-store="1389" data-yn="N">수서역R  </strong> <p class="result_details">서울특별시 강남구 광평로 281 (수서동)<br/>1522-3232</p> <i class="pin_reserve">리저브 매장 2번</i></li>

In [97]:
starbucks_soup_list[0].find('i')

In [98]:
name = [] # 매장명
lat = [] # 위도
lng = [] # 경도
store_type = [] # 매장 타입
address = [] # 주소
tel = [] # 전화번호

for i in range(len(starbucks_soup_list)):
    name.append(starbucks_soup_list[i]['data-name'].strip())
    lat.append(starbucks_soup_list[i]['data-lat'].strip())
    lng.append(starbucks_soup_list[i]['data-long'].strip())
    try:
        store_type.append(starbucks_soup_list[i].find('i').text) # genenral 말고 reserve 도 있어서 그걸 못 찾아서 none으로 불러와졌나봐 657

        # store_type.append(starbucks_soup_list[i].select('i')[0]['class'][0])

    except:
        store_type.append('일반매장')
    
    
    # add_tel = str(starbucks_soup_list[i].select('p.result_details')[0]).split('<br/>')

    # address = add_tel[0].split('>')[1]
    # tel = add_tel[1].split('<')[0]


    address.append(starbucks_soup_list[i].find('p', {'class' : 'result_details'}).contents[0].strip())
    tel.append(starbucks_soup_list[i].find('p', {'class' : 'result_details'}).contents[-1].strip())

In [112]:
df = pd.DataFrame({'매장명' : name, '위도' : lat, '경도' : lng, '매장타입' : store_type, '주소' : address, '전화번호' : tel})

In [114]:
df.to_csv('./starbucks.csv')

# 2. 서울시 주민등록 인구 (구별) 통계 정보 수집
    * 서울시 열린데이터 광장
        * https://data.seoul.go.kr/dataList/419/S/2/datasetView.do

In [131]:
sgg_pop_df = pd.read_csv('./files/report.txt', sep = '\t', header = 1)

In [132]:
columns = {
    '시점': 'GIGAN',
    '동별(1)': 'SUM',
    '동별(2)': 'JACHIGU',
    '소계': 'SEDAE',
    '소계.1': 'GYE_1',
    '남자': 'NAMJA_1',
    '여자': 'YEOJA_1',
    '소계.2': 'GYE_2', # 한국인
    '남자.1': 'NAMJA_2',
    '여자.1': 'YEOJA_2',
    '소계.3': 'GYE_3', # 등록외국인
    '남자.2': 'NAMJA_3',
    '여자.2': 'YEOJA_3',
    '소계.4': 'SEDAEDANGINGU',
    '소계.5': 'N_65SEISANGGORYEONGJA'
}
sgg_pop_df.rename(columns = columns, inplace = True)

In [133]:
sgg_pop_df

,GIGAN,SUM,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,2023 1/4,합계,소계,4463385,9668008,4672170,4995838,9426404,4566299,4860105,241604,105871,135733,2.11,1690961
1,2023 1/4,합계,종로구,72679,152212,72819,79393,141060,68170,72890,11152,4649,6503,1.94,28265
2,2023 1/4,합계,중구,63862,131390,63576,67814,120963,58699,62264,10427,4877,5550,1.89,25353
3,2023 1/4,합계,용산구,109735,232482,112608,119874,217756,104640,113116,14726,7968,6758,1.98,39478
4,2023 1/4,합계,성동구,133513,287240,139171,148069,280240,136233,144007,7000,2938,4062,2.10,48238
5,2023 1/4,합계,광진구,169787,350925,167983,182942,336801,162209,174592,14124,5774,8350,1.98,54854
6,2023 1/4,합계,동대문구,171140,354884,172178,182706,337574,165933,171641,17310,6245,11065,1.97,65154
7,2023 1/4,합계,중랑구,187898,389928,191122,198806,385003,189186,195817,4925,1936,2989,2.05,76116
8,2023 1/4,합계,성북구,197859,441855,210937,230918,430100,206634,223466,11755,4303,7452,2.17,78427
9,2023 1/4,합계,강북구,144557,296934,143493,153441,292762,142028,150734,4172,1465,2707,2.03,67056
10,2023 1/4,합계,도봉구,138376,312858,151589,161269,310509,150806,159703,2349,783,1566,2.24,68114
11,2023 1/4,합계,노원구,218341,506989,243433,263556,502515,241532,260983,4474,1901,2573,2.30,93279
12,2023 1/4,합계,은평구,213989,468766,222911,245855,464871,221350,243521,3895,1561,2334,2.17,90556
13,2023 1/4,합계,서대문구,147146,321966,151089,170877,308437,146732,161705,13529,4357,9172,2.10,56785
14,2023 1/4,합계,마포구,181034,376542,175162,201380,365570,171215,194355,10972,3947,7025,2.02,56582
15,2023 1/4,합계,양천구,181072,442345,215983,226362,439219,214703,224516,3126,1280,1846,2.43,73522
16,2023 1/4,합계,강서구,274283,573711,275046,298665,568287,272693,295594,5424,2353,3071,2.07,98659
17,2023 1/4,합계,구로구,184268,417983,206221,211762,395183,194039,201144,22800,12182,10618,2.14,77259
18,2023 1/4,합계,금천구,120051,242467,122577,119890,229307,115624,113683,13160,6953,6207,1.91,43772
19,2023 1/4,합계,영등포구,190252,398999,196502,202497,376614,184973,191641,22385,11529,10856,1.98,66014
20,2023 1/4,합계,동작구,186534,390377,188069,202308,380201,183900,196301,10176,4169,6007,2.04,68766
21,2023 1/4,합계,관악구,285914,502628,251376,251252,487815,245376,242439,14813,6000,8813,1.71,83420
22,2023 1/4,합계,서초구,168234,408979,195160,213819,404831,193158,211673,4148,2002,2146,2.41,63328
23,2023 1/4,합계,강남구,234735,537817,257121,280696,532798,254811,277987,5019,2310,2709,2.27,83097
24,2023 1/4,합계,송파구,285489,663704,319139,344565,658006,316564,341442,5698,2575,3123,2.30,105161
25,2023 1/4,합계,강동구,202637,464027,226905,237122,459982,225091,234891,4045,1814,2231,2.27,79706

In [137]:
# 내가 한 필요없는 데이터 떨구기

sgg_pop_df.drop(0, axis= 0, inplace= True)

KeyError: '[0] not found in axis'

In [138]:
# 위 방법대로 없애는 것 말고 아래처럼 filter 씌워서 해도 됨

conditions = sgg_pop_df['JACHIGU'] != '소계'

In [140]:
sgg_pop_df_selected = sgg_pop_df[conditions]

In [142]:
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  25 non-null     object
 1   SUM                    25 non-null     object
 2   JACHIGU                25 non-null     object
 3   SEDAE                  25 non-null     int64
 4   GYE_1                  25 non-null     int64
 5   NAMJA_1                25 non-null     int64
 6   YEOJA_1                25 non-null     int64
 7   GYE_2                  25 non-null     int64
 8   NAMJA_2                25 non-null     int64
 9   YEOJA_2                25 non-null     int64
 10  GYE_3                  25 non-null     int64
 11  NAMJA_3                25 non-null     int64
 12  YEOJA_3                25 non-null     int64
 13  SEDAEDANGINGU          25 non-null     float64
 14  N_65SEISANGGORYEONGJA  25 non-null     int64
dtypes: float64(1), int64(11), object(3)
memory usage: 3.1+ KB

In [143]:
# 분석에 필요한 column 선택

columns = ['JACHIGU', 'GYE_1']

sgg_pop_df_final = sgg_pop_df_selected[columns]

In [146]:
sgg_pop_df_final.columns = ['시군구명', '주민등록인구']

sgg_pop_df_final

    시군구명  주민등록인구
1    종로구  152212
2     중구  131390
3    용산구  232482
4    성동구  287240
5    광진구  350925
6   동대문구  354884
7    중랑구  389928
8    성북구  441855
9    강북구  296934
10   도봉구  312858
11   노원구  506989
12   은평구  468766
13  서대문구  321966
14   마포구  376542
15   양천구  442345
16   강서구  573711
17   구로구  417983
18   금천구  242467
19  영등포구  398999
20   동작구  390377
21   관악구  502628
22   서초구  408979
23   강남구  537817
24   송파구  663704
25   강동구  464027

In [147]:
sgg_pop_df_final.to_excel('./files/sgg_pop.xlsx', index= False)