#### 예제

1. csv 폴더 안 card 폴더에 있는 '오프라인.csv' 파일 로드
2. column의 이름을 변경 -> ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']
3. 결측치가 존재하는가 ?
4. 기준년월 데이터를 시계열 데이터로 변경
5. 남, 여 성별을 기준으로 연도별 건당 이용금액의 평균이 몇인가?

In [5]:
# 1. csv 폴더 안 card 폴더에 있는 '오프라인.csv' 파일 로드

import pandas as pd

offline = pd.read_csv('../../csv/card/오프라인.csv', encoding = 'CP949')

In [6]:
# 2. column의 이름을 변경 -> ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']

offline.columns = ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']

In [7]:
# 3. 결측치가 존재하는가 ?

offline.isna().any()

기준년월     False
업종       False
성별       False
연령대      False
총이용건수    False
총이용금액    False
dtype: bool

In [8]:
offline

        기준년월   업종  성별  연령대   총이용건수         총이용금액
0     201901  백화점   1    1       1  7.600000e+03
1     201901  백화점   1   10     379  1.945872e+07
2     201901  백화점   1   20   45173  4.747711e+09
3     201901  백화점   1   30  271858  2.791826e+10
4     201901  백화점   1   40  391109  3.791149e+10
...      ...  ...  ..  ...     ...           ...
2643  202109  편의점   2   50  844081  6.283353e+09
2644  202109  편의점   2   60  243768  1.997442e+09
2645  202109  편의점   2   70   40523  3.524203e+08
2646  202109  편의점   2   80    6349  5.333488e+07
2647  202109  편의점   2   90     273  2.619730e+06

[2648 rows x 6 columns]

In [12]:
# 4. 기준년월 데이터를 시계열 데이터로 변경

offline['기준년월'] = pd.to_datetime(offline['기준년월'], format= '%Y%m')

In [16]:
# 5. 남, 여 성별을 기준으로 연도별 건당 이용금액의 평균이 몇인가? 

    # 5-1 성별을 남, 여로 나누기

for i in range(len(offline['성별'])):
    if offline['성별'][i] == 1:
        offline['성별'][i] = '남성'
    else:
        offline['성별'][i] = '여성'

C:\Users\USER\AppData\Local\Temp\ipykernel_8336\3362140303.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  offline['성별'][i] = '남성'
C:\Users\USER\AppData\Local\Temp\ipykernel_8336\3362140303.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offline['성별'][i] = '남성'
C:\Users\USER\AppData\Local\Temp\ipykernel_8336\3362140303.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '남성' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  offline['성별'][i] = '남성'

In [17]:
 # 5-2 시계열 데이터에서 연도별의 연도를 추출하기

offline['기준년'] = offline['기준년월'].dt.strftime('%Y')

In [19]:
# 5-3 건당 이용금액을 계산하기

offline['건당 이용금액'] = offline['총이용금액'] / offline['총이용건수']

In [22]:
# 5-4 추가된 정보로 데이터 프레임 재구조화 하기

offline.pivot_table(
    index= '기준년',
    columns= '성별',
    values= '건당 이용금액',
    aggfunc= 'mean'
)

성별              남성            여성
기준년
2019  39184.349662  38107.838544
2020  44009.589591  41389.763130
2021  46948.320084  43306.318972