#### 복습

1. csv 폴더 안에 있는 drinks.csv 파일 로드
2. 데이터 프레임의 정보, 결측치가 존재하는가 ?
3. column의 이름을 변경 -> ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']
4. 대륙 column에 결측치가 존재 -> 결측치를 'OT'로 대체
5. 새로운 파생변수 '총 술소비량' 생성 -> 맥주소비량 + 증류주소비량 + 와인소비량
6. 새로운 파생변수 '도수' 생성 -> 소비알콜량 / 총 술소비량 * 100
7. 도수 column의 전체 평균보다 대륙별 도수 평균이 높은 대륙을 출력

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 1. csv 폴더 안에 있는 drinks.csv 파일 로드

drinks = pd.read_csv('../../csv/drinks.csv')

In [4]:
# 2. 데이터 프레임의 정보, 결측치가 존재하는가?


drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [12]:

drinks.isna().sum()

# drinks.isna().any(axis = 0) # 결측치가 존재하는 column 확인

국가         False
맥주소비량      False
증류주소비량     False
와인소비량      False
소비알콜량      False
대륙         False
총 술 소비량    False
도수         False
dtype: bool

In [6]:
# 3. column의 이름을 변경 -> ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']

drinks.columns = ['국가', '맥주소비량', '증류주소비량', '와인소비량', '소비알콜량', '대륙']

In [7]:
# 4. 대륙 column에 결측치가 존재 -> 결측치를 'OT'로 대체

drinks['대륙'].fillna('OT', inplace= True)

C:\Users\USER\AppData\Local\Temp\ipykernel_32912\2861792078.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  drinks['대륙'].fillna('OT', inplace= True)

In [8]:
# 5. 새로운 파생변수 '총 술소비량' 생성 -> 맥주소비량 + 증류주소비량 + 와인소비량

drinks['총 술 소비량'] = drinks['맥주소비량'] + drinks['증류주소비량'] + drinks['와인소비량']

In [9]:
# 6. 새로운 파생변수 '도수' 생성 -> 소비알콜량 / 총 술소비량 * 100

drinks['도수'] = (drinks['소비알콜량'] / drinks['총 술 소비량']) * 100

In [10]:
# 6_1. 도수에 생긴 결측치 확인
    
    # 6_1_1. 도수의 결측치가 발생한 원인 탐색
flag = drinks['도수'].isna()

drinks[flag] # 도수 계산식에서 '총 술소비량'으로 나누는 과정에서 분모가 0인 계산과정 발생으로 결측치가 발생하였다고 추정

# 6_2 결측치를 0으로 치환

drinks[flag] = drinks[flag].fillna(0)

In [11]:
# 7. 도수 column의 전체 평균보다 대륙별 도수 평균이 높은 대륙을 출력

    # 7_1. 도수 column의 전체 평균 계산

mean_proof = drinks['도수'].mean()

    # 7_2. 대륙별 도수 평균 계산

mean_contient = drinks[['대륙', '도수']].groupby(['대륙']).mean()

    # 7_3. 조건에 맞는 결과 출력 #### 이 부분 항상 생각 못 하더라 !!!!!

mean_contient[mean_contient['도수'] > mean_proof]

          도수
대륙
AF  4.974072

##### 오늘의 복습점
    - 조건에 맞는 결과를 df에서 찾아 출력하는 방법
    - pd.loc[], pd.iloc[]의 사용 방법